/*GERAL*/

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'title';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Mary Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Material Icons';
    src: url('../fonts/iconfont/material-icons-outlined.woff') format('woff');
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/iconfont/material-icons.woff2') format('woff2'), url('../fonts/iconfont/material-icons.woff') format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    text-decoration: none;
    text-transform: none;
    font-style: none;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html,body {
    height: 100vh;
}

body.dark {
    color: #fff;
    background-color: #212121;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.logo {
    font-family: 'title';
    font-size: 3rem;
}

/*cABEÇA*/

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li:not(:first-child){
    margin-left: 40px;
}

.header-menu .log a:last-child{
    margin-left: 10px;
    padding: 7px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
}

.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50vh;
    background: url('../img/figurinhas.jpeg') no-repeat center center;
    background-size: cover;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #a3d9fb79, #8983d7a2, #ff00808e, #ff8c0071);
    animation: back 10s ease alternate forwards infinite;
    background-size: 300% 300%;
}

.banner .slogan {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    color: #fff;
    font-size: 3em;
    font-family: 'title';
}

.banner .screen {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 90%;
    display: flex;
}

.banner .screen div:not(:first-child){
    margin-left: 30px;
}

.banner .screen div:last-child {
    margin-right: 10px;
}

.banner .screen div {
    position: relative;
    height: 100%;
    width: 10rem;
    background: #fff;
    border-radius: 10px;
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
    cursor: pointer;
}

.banner .screen div:hover {
    width: 15rem;
}


.banner .screen .screen-1 {
    background: url('../img/moda.jpeg') no-repeat center center;
    background-size: cover;
}
.banner .screen .screen-1::before {
    content: 'Fashion';
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: #fff;
    transform: rotate(-90deg);
    z-index: 1;
}

.banner .screen .screen-1:hover::before{
    animation: rotain 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) alternate forwards;
}

.banner .screen .screen-1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000d3, transparent);
}

.banner .screen .screen-2 {
    background: url('../img/education.jpeg') no-repeat center center;
    background-size: cover;
}
.banner .screen .screen-2::before {
    content: 'Educação';
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
    color: #fff;
    transform: rotate(-90deg);
    z-index: 1;
}

.banner .screen .screen-2:hover::before{
    animation: rotain 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) alternate forwards;
}

.banner .screen .screen-2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000d3, transparent);
}


.banner .screen .screen-3 {
    background: url('../img/cheff.jpg') no-repeat center center;
    background-size: cover;
}
.banner .screen .screen-3::before {
    content: 'Comida';
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    color: #fff;
    transform: rotate(-90deg);
    z-index: 1;
}

.banner .screen .screen-3:hover::before{
    animation: rotain 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) alternate forwards;
}

.banner .screen .screen-3::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000d3, transparent);
}


/*cORPO*/

main {
    display: grid;
    place-content: center;
    width: 100%;
}

.categ {
    display: grid;
    place-content: center;
    place-items: center;
    margin-top: 45px;
}

.categ menu ul {
    display: flex;
}

.categ menu li {
    position: relative;
    font-size: 1.3em;
    padding-bottom: 5px;
    cursor: pointer;
}

.categ menu li::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: #fd7b64;
    border-radius: 100px;
    transition: width 0.4s ease;
}

.categ menu li:hover::before {
    width: 80%;
    animation: vai-vem 0.4s ease-out alternate backwards;
}

.categ menu ul li:first-child {
    border-bottom: 3px solid #fd7b64;
}

.categ menu ul li:not(:first-child) {
    margin-left: 3rem;
}

.cardz {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cardz .card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 15%;
}

.cardz .card:not(:first-child){
    margin-left: 10px;
}

.cardz .card div {
    position: relative;
    margin: auto;
    height: 5rem;
    width: 100%;
    background-color: red;
    border-radius: 7px;
}

.cardz .card .card-1 {
    background: url('../img/dinner.jpeg') no-repeat center center;
    background-size: cover;
    height: 9rem;
}

.cardz .card .card-2 {
    background: url('../img/makeup-colors.jpeg') no-repeat center center;
    background-size: cover;
    height: 11rem;
}

.cardz .card .card-3 {
    background: url('../img/cub.jpeg') no-repeat center center;
    background-size: cover;
    height: 14rem;
}

.cardz .card .card-4 {
    background: url('../img/anel.jpeg') no-repeat center center;
    background-size: cover;
    height: 9rem;
}


.cardz .card .spn {
    margin-top: 15px;
    font-family: 'Mary Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #000;
}

.cardz .card span {
    font-size: 0.8em;
    color: #757575;
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.course div {
    width: 80%;
}

.course h1 {
    font-family: 'Roboto';
    display: inline-block;
    width: 40%;
}

.course p {
    width: 50%;
    float: right;
}

.start {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start .comp li {
    position: relative;
}

.start .comp li:not(:first-child){
    margin-top: 10px;
}

.start .comp li .icones {
    position: relative;
    padding: 10px;
    margin-right: 10px;
    background: linear-gradient(40deg, #38b9a4, #009af3);
    border-radius: 30px;
    color: #fff;
}

.start .comp li:not(:first-child):before {
    content: '';
    position: relative;
    left: 8.5%;
    bottom: 8px;
    display: block;
    margin: auto 0;
    height: 30px;
    width: 3px;
    background-color: #7bb6ee;
}

.start .today {
    width: 50%;
    position: relative;
}

.start .today .now {
    position: absolute;
    width: 80%;
    top: -55px;
    left: 90%;
    transform: translateX(-90%);
    margin: auto;
    background-color: #44c575;
    color: #000;
    font-size: 1.3em;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    z-index: 1;
}

.start .today .now div:first-child {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid #000;
}

.start .box-video {
    position: relative;
}

.start .box-video video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.start .box-video span {
    position: absolute;
    color: #fff;
    left: 0;
    bottom: 0;
    margin: 30px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1em;
    cursor: pointer;
    z-index: 1;
    transition: all 0.4s ease;
}

.start .box-video span:active {
    animation: play 0.4s ease alternate forwards;
}

.say {
    width: 100%;
    margin-top: 50px;
}

.say h1 {
    text-align: center;
    font-size: 1.5em;
}

.say .m-box-say {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.say .box-say {
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    font-size: 0.8em;
}

.say .box-say:not(:first-child) {
    margin-left: 40px;
}

.say .box-name {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.say .box-name span:first-child {
    font-family: 'Mary Poppins';
}

.say .box-name span:last-child {
    color: #09ff00;
    font-family: 'Mary Poppins';
}

.say img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.footer-maior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*PÉS*/

/*ANIMAÇÕES*/

@keyframes rotain {
    0% {
        transform: rotate(-90deg);
    }

    50% {
        font-size: 1.5rem;
    }

    100% {
        transform: rotate(0deg);
        font-size: 1.3em;
    }
}

@keyframes back {
    0%{
        background-position: 50% 0;
    }

    50%{
        background-position: 100% 0;
    }

    100%{
        background-position: 50% 0;
    }
}

@keyframes vai-vem {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 80%;
    }
}

@keyframes play {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-80deg);
    }

    100% {
        transform: rotate(0);
    }
}