.svg-add_a_photo {
	background: url("svg-sprite-image.svg") 8.333333333333334% 0 no-repeat;
}

.svg-add_a_photo-dims {
	width: 24px;
	height: 24px;
}

.svg-add_to_photos {
	background: url("svg-sprite-image.svg") 41.666666666666664% 72.72727272727273% no-repeat;
}

.svg-add_to_photos-dims {
	width: 24px;
	height: 24px;
}

.svg-adjust {
	background: url("svg-sprite-image.svg") 0 9.090909090909092% no-repeat;
}

.svg-adjust-dims {
	width: 24px;
	height: 24px;
}

.svg-assistant {
	background: url("svg-sprite-image.svg") 8.333333333333334% 9.090909090909092% no-repeat;
}

.svg-assistant-dims {
	width: 24px;
	height: 24px;
}

.svg-assistant_photo {
	background: url("svg-sprite-image.svg") 16.666666666666668% 0 no-repeat;
}

.svg-assistant_photo-dims {
	width: 24px;
	height: 24px;
}

.svg-audiotrack {
	background: url("svg-sprite-image.svg") 16.666666666666668% 9.090909090909092% no-repeat;
}

.svg-audiotrack-dims {
	width: 24px;
	height: 24px;
}

.svg-blur_circular {
	background: url("svg-sprite-image.svg") 0 18.181818181818183% no-repeat;
}

.svg-blur_circular-dims {
	width: 24px;
	height: 24px;
}

.svg-blur_linear {
	background: url("svg-sprite-image.svg") 8.333333333333334% 18.181818181818183% no-repeat;
}

.svg-blur_linear-dims {
	width: 24px;
	height: 24px;
}

.svg-blur_off {
	background: url("svg-sprite-image.svg") 16.666666666666668% 18.181818181818183% no-repeat;
}

.svg-blur_off-dims {
	width: 24px;
	height: 24px;
}

.svg-blur_on {
	background: url("svg-sprite-image.svg") 25% 0 no-repeat;
}

.svg-blur_on-dims {
	width: 24px;
	height: 24px;
}

.svg-brightness_1 {
	background: url("svg-sprite-image.svg") 25% 9.090909090909092% no-repeat;
}

.svg-brightness_1-dims {
	width: 24px;
	height: 24px;
}

.svg-brightness_2 {
	background: url("svg-sprite-image.svg") 25% 18.181818181818183% no-repeat;
}

.svg-brightness_2-dims {
	width: 24px;
	height: 24px;
}

.svg-brightness_3 {
	background: url("svg-sprite-image.svg") 0 27.272727272727273% no-repeat;
}

.svg-brightness_3-dims {
	width: 24px;
	height: 24px;
}

.svg-brightness_4 {
	background: url("svg-sprite-image.svg") 8.333333333333334% 27.272727272727273% no-repeat;
}

.svg-brightness_4-dims {
	width: 24px;
	height: 24px;
}

.svg-brightness_5 {
	background: url("svg-sprite-image.svg") 16.666666666666668% 27.272727272727273% no-repeat;
}

.svg-brightness_5-dims {
	width: 24px;
	height: 24px;
}

.svg-brightness_6 {
	background: url("svg-sprite-image.svg") 25% 27.272727272727273% no-repeat;
}

.svg-brightness_6-dims {
	width: 24px;
	height: 24px;
}

.svg-brightness_7 {
	background: url("svg-sprite-image.svg") 33.333333333333336% 0 no-repeat;
}

.svg-brightness_7-dims {
	width: 24px;
	height: 24px;
}

.svg-broken_image {
	background: url("svg-sprite-image.svg") 33.333333333333336% 9.090909090909092% no-repeat;
}

.svg-broken_image-dims {
	width: 24px;
	height: 24px;
}

.svg-brush {
	background: url("svg-sprite-image.svg") 33.333333333333336% 18.181818181818183% no-repeat;
}

.svg-brush-dims {
	width: 24px;
	height: 24px;
}

.svg-burst_mode {
	background: url("svg-sprite-image.svg") 33.333333333333336% 27.272727272727273% no-repeat;
}

.svg-burst_mode-dims {
	width: 24px;
	height: 24px;
}

.svg-camera {
	background: url("svg-sprite-image.svg") 0 36.36363636363637% no-repeat;
}

.svg-camera-dims {
	width: 24px;
	height: 24px;
}

.svg-camera_alt {
	background: url("svg-sprite-image.svg") 8.333333333333334% 36.36363636363637% no-repeat;
}

.svg-camera_alt-dims {
	width: 24px;
	height: 24px;
}

.svg-camera_front {
	background: url("svg-sprite-image.svg") 16.666666666666668% 36.36363636363637% no-repeat;
}

.svg-camera_front-dims {
	width: 24px;
	height: 24px;
}

.svg-camera_rear {
	background: url("svg-sprite-image.svg") 25% 36.36363636363637% no-repeat;
}

.svg-camera_rear-dims {
	width: 24px;
	height: 24px;
}

.svg-camera_roll {
	background: url("svg-sprite-image.svg") 33.333333333333336% 36.36363636363637% no-repeat;
}

.svg-camera_roll-dims {
	width: 24px;
	height: 24px;
}

.svg-center_focus_strong {
	background: url("svg-sprite-image.svg") 41.666666666666664% 0 no-repeat;
}

.svg-center_focus_strong-dims {
	width: 24px;
	height: 24px;
}

.svg-center_focus_weak {
	background: url("svg-sprite-image.svg") 41.666666666666664% 9.090909090909092% no-repeat;
}

.svg-center_focus_weak-dims {
	width: 24px;
	height: 24px;
}

.svg-collections {
	background: url("svg-sprite-image.svg") 41.666666666666664% 18.181818181818183% no-repeat;
}

.svg-collections-dims {
	width: 24px;
	height: 24px;
}

.svg-collections_bookmark {
	background: url("svg-sprite-image.svg") 41.666666666666664% 27.272727272727273% no-repeat;
}

.svg-collections_bookmark-dims {
	width: 24px;
	height: 24px;
}

.svg-color_lens {
	background: url("svg-sprite-image.svg") 41.666666666666664% 36.36363636363637% no-repeat;
}

.svg-color_lens-dims {
	width: 24px;
	height: 24px;
}

.svg-colorize {
	background: url("svg-sprite-image.svg") 0 45.45454545454545% no-repeat;
}

.svg-colorize-dims {
	width: 24px;
	height: 24px;
}

.svg-compare {
	background: url("svg-sprite-image.svg") 8.333333333333334% 45.45454545454545% no-repeat;
}

.svg-compare-dims {
	width: 24px;
	height: 24px;
}

.svg-control_point {
	background: url("svg-sprite-image.svg") 16.666666666666668% 45.45454545454545% no-repeat;
}

.svg-control_point-dims {
	width: 24px;
	height: 24px;
}

.svg-control_point_duplicate {
	background: url("svg-sprite-image.svg") 25% 45.45454545454545% no-repeat;
}

.svg-control_point_duplicate-dims {
	width: 24px;
	height: 24px;
}

.svg-crop {
	background: url("svg-sprite-image.svg") 33.333333333333336% 45.45454545454545% no-repeat;
}

.svg-crop-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_16_9 {
	background: url("svg-sprite-image.svg") 41.666666666666664% 45.45454545454545% no-repeat;
}

.svg-crop_16_9-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_3_2 {
	background: url("svg-sprite-image.svg") 50% 0 no-repeat;
}

.svg-crop_3_2-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_5_4 {
	background: url("svg-sprite-image.svg") 50% 9.090909090909092% no-repeat;
}

.svg-crop_5_4-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_7_5 {
	background: url("svg-sprite-image.svg") 50% 18.181818181818183% no-repeat;
}

.svg-crop_7_5-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_din {
	background: url("svg-sprite-image.svg") 50% 27.272727272727273% no-repeat;
}

.svg-crop_din-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_free {
	background: url("svg-sprite-image.svg") 50% 36.36363636363637% no-repeat;
}

.svg-crop_free-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_landscape {
	background: url("svg-sprite-image.svg") 50% 45.45454545454545% no-repeat;
}

.svg-crop_landscape-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_original {
	background: url("svg-sprite-image.svg") 0 54.54545454545455% no-repeat;
}

.svg-crop_original-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_portrait {
	background: url("svg-sprite-image.svg") 8.333333333333334% 54.54545454545455% no-repeat;
}

.svg-crop_portrait-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_rotate {
	background: url("svg-sprite-image.svg") 16.666666666666668% 54.54545454545455% no-repeat;
}

.svg-crop_rotate-dims {
	width: 24px;
	height: 24px;
}

.svg-crop_square {
	background: url("svg-sprite-image.svg") 25% 54.54545454545455% no-repeat;
}

.svg-crop_square-dims {
	width: 24px;
	height: 24px;
}

.svg-dehaze {
	background: url("svg-sprite-image.svg") 33.333333333333336% 54.54545454545455% no-repeat;
}

.svg-dehaze-dims {
	width: 24px;
	height: 24px;
}

.svg-details {
	background: url("svg-sprite-image.svg") 41.666666666666664% 54.54545454545455% no-repeat;
}

.svg-details-dims {
	width: 24px;
	height: 24px;
}

.svg-edit {
	background: url("svg-sprite-image.svg") 50% 54.54545454545455% no-repeat;
}

.svg-edit-dims {
	width: 24px;
	height: 24px;
}

.svg-exposure {
	background: url("svg-sprite-image.svg") 58.333333333333336% 0 no-repeat;
}

.svg-exposure-dims {
	width: 24px;
	height: 24px;
}

.svg-exposure_neg_1 {
	background: url("svg-sprite-image.svg") 58.333333333333336% 9.090909090909092% no-repeat;
}

.svg-exposure_neg_1-dims {
	width: 24px;
	height: 24px;
}

.svg-exposure_neg_2 {
	background: url("svg-sprite-image.svg") 58.333333333333336% 18.181818181818183% no-repeat;
}

.svg-exposure_neg_2-dims {
	width: 24px;
	height: 24px;
}

.svg-exposure_plus_1 {
	background: url("svg-sprite-image.svg") 58.333333333333336% 27.272727272727273% no-repeat;
}

.svg-exposure_plus_1-dims {
	width: 24px;
	height: 24px;
}

.svg-exposure_plus_2 {
	background: url("svg-sprite-image.svg") 58.333333333333336% 36.36363636363637% no-repeat;
}

.svg-exposure_plus_2-dims {
	width: 24px;
	height: 24px;
}

.svg-exposure_zero {
	background: url("svg-sprite-image.svg") 58.333333333333336% 45.45454545454545% no-repeat;
}

.svg-exposure_zero-dims {
	width: 24px;
	height: 24px;
}

.svg-filter {
	background: url("svg-sprite-image.svg") 58.333333333333336% 54.54545454545455% no-repeat;
}

.svg-filter-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_1 {
	background: url("svg-sprite-image.svg") 0 63.63636363636363% no-repeat;
}

.svg-filter_1-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_2 {
	background: url("svg-sprite-image.svg") 8.333333333333334% 63.63636363636363% no-repeat;
}

.svg-filter_2-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_3 {
	background: url("svg-sprite-image.svg") 16.666666666666668% 63.63636363636363% no-repeat;
}

.svg-filter_3-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_4 {
	background: url("svg-sprite-image.svg") 25% 63.63636363636363% no-repeat;
}

.svg-filter_4-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_5 {
	background: url("svg-sprite-image.svg") 33.333333333333336% 63.63636363636363% no-repeat;
}

.svg-filter_5-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_6 {
	background: url("svg-sprite-image.svg") 41.666666666666664% 63.63636363636363% no-repeat;
}

.svg-filter_6-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_7 {
	background: url("svg-sprite-image.svg") 50% 63.63636363636363% no-repeat;
}

.svg-filter_7-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_8 {
	background: url("svg-sprite-image.svg") 58.333333333333336% 63.63636363636363% no-repeat;
}

.svg-filter_8-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_9 {
	background: url("svg-sprite-image.svg") 66.66666666666667% 0 no-repeat;
}

.svg-filter_9-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_9_plus {
	background: url("svg-sprite-image.svg") 66.66666666666667% 9.090909090909092% no-repeat;
}

.svg-filter_9_plus-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_b_and_w {
	background: url("svg-sprite-image.svg") 66.66666666666667% 18.181818181818183% no-repeat;
}

.svg-filter_b_and_w-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_center_focus {
	background: url("svg-sprite-image.svg") 66.66666666666667% 27.272727272727273% no-repeat;
}

.svg-filter_center_focus-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_drama {
	background: url("svg-sprite-image.svg") 66.66666666666667% 36.36363636363637% no-repeat;
}

.svg-filter_drama-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_frames {
	background: url("svg-sprite-image.svg") 66.66666666666667% 45.45454545454545% no-repeat;
}

.svg-filter_frames-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_hdr {
	background: url("svg-sprite-image.svg") 66.66666666666667% 54.54545454545455% no-repeat;
}

.svg-filter_hdr-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_none {
	background: url("svg-sprite-image.svg") 66.66666666666667% 63.63636363636363% no-repeat;
}

.svg-filter_none-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_tilt_shift {
	background: url("svg-sprite-image.svg") 0 72.72727272727273% no-repeat;
}

.svg-filter_tilt_shift-dims {
	width: 24px;
	height: 24px;
}

.svg-filter_vintage {
	background: url("svg-sprite-image.svg") 8.333333333333334% 72.72727272727273% no-repeat;
}

.svg-filter_vintage-dims {
	width: 24px;
	height: 24px;
}

.svg-flare {
	background: url("svg-sprite-image.svg") 16.666666666666668% 72.72727272727273% no-repeat;
}

.svg-flare-dims {
	width: 24px;
	height: 24px;
}

.svg-flash_auto {
	background: url("svg-sprite-image.svg") 25% 72.72727272727273% no-repeat;
}

.svg-flash_auto-dims {
	width: 24px;
	height: 24px;
}

.svg-flash_off {
	background: url("svg-sprite-image.svg") 33.333333333333336% 72.72727272727273% no-repeat;
}

.svg-flash_off-dims {
	width: 24px;
	height: 24px;
}

.svg-flash_on {
	background: url("svg-sprite-image.svg") 0 0 no-repeat;
}

.svg-flash_on-dims {
	width: 24px;
	height: 24px;
}

.svg-flip {
	background: url("svg-sprite-image.svg") 50% 72.72727272727273% no-repeat;
}

.svg-flip-dims {
	width: 24px;
	height: 24px;
}

.svg-gradient {
	background: url("svg-sprite-image.svg") 58.333333333333336% 72.72727272727273% no-repeat;
}

.svg-gradient-dims {
	width: 24px;
	height: 24px;
}

.svg-grain {
	background: url("svg-sprite-image.svg") 66.66666666666667% 72.72727272727273% no-repeat;
}

.svg-grain-dims {
	width: 24px;
	height: 24px;
}

.svg-grid_off {
	background: url("svg-sprite-image.svg") 75% 0 no-repeat;
}

.svg-grid_off-dims {
	width: 24px;
	height: 24px;
}

.svg-grid_on {
	background: url("svg-sprite-image.svg") 75% 9.090909090909092% no-repeat;
}

.svg-grid_on-dims {
	width: 24px;
	height: 24px;
}

.svg-hdr_off {
	background: url("svg-sprite-image.svg") 75% 18.181818181818183% no-repeat;
}

.svg-hdr_off-dims {
	width: 24px;
	height: 24px;
}

.svg-hdr_on {
	background: url("svg-sprite-image.svg") 75% 27.272727272727273% no-repeat;
}

.svg-hdr_on-dims {
	width: 24px;
	height: 24px;
}

.svg-hdr_strong {
	background: url("svg-sprite-image.svg") 75% 36.36363636363637% no-repeat;
}

.svg-hdr_strong-dims {
	width: 24px;
	height: 24px;
}

.svg-hdr_weak {
	background: url("svg-sprite-image.svg") 75% 45.45454545454545% no-repeat;
}

.svg-hdr_weak-dims {
	width: 24px;
	height: 24px;
}

.svg-healing {
	background: url("svg-sprite-image.svg") 75% 54.54545454545455% no-repeat;
}

.svg-healing-dims {
	width: 24px;
	height: 24px;
}

.svg-image {
	background: url("svg-sprite-image.svg") 75% 63.63636363636363% no-repeat;
}

.svg-image-dims {
	width: 24px;
	height: 24px;
}

.svg-image_aspect_ratio {
	background: url("svg-sprite-image.svg") 75% 72.72727272727273% no-repeat;
}

.svg-image_aspect_ratio-dims {
	width: 24px;
	height: 24px;
}

.svg-iso {
	background: url("svg-sprite-image.svg") 0 81.81818181818181% no-repeat;
}

.svg-iso-dims {
	width: 24px;
	height: 24px;
}

.svg-landscape {
	background: url("svg-sprite-image.svg") 8.333333333333334% 81.81818181818181% no-repeat;
}

.svg-landscape-dims {
	width: 24px;
	height: 24px;
}

.svg-leak_add {
	background: url("svg-sprite-image.svg") 16.666666666666668% 81.81818181818181% no-repeat;
}

.svg-leak_add-dims {
	width: 24px;
	height: 24px;
}

.svg-leak_remove {
	background: url("svg-sprite-image.svg") 25% 81.81818181818181% no-repeat;
}

.svg-leak_remove-dims {
	width: 24px;
	height: 24px;
}

.svg-lens {
	background: url("svg-sprite-image.svg") 33.333333333333336% 81.81818181818181% no-repeat;
}

.svg-lens-dims {
	width: 24px;
	height: 24px;
}

.svg-linked_camera {
	background: url("svg-sprite-image.svg") 41.666666666666664% 81.81818181818181% no-repeat;
}

.svg-linked_camera-dims {
	width: 24px;
	height: 24px;
}

.svg-looks {
	background: url("svg-sprite-image.svg") 50% 81.81818181818181% no-repeat;
}

.svg-looks-dims {
	width: 24px;
	height: 24px;
}

.svg-looks_3 {
	background: url("svg-sprite-image.svg") 58.333333333333336% 81.81818181818181% no-repeat;
}

.svg-looks_3-dims {
	width: 24px;
	height: 24px;
}

.svg-looks_4 {
	background: url("svg-sprite-image.svg") 66.66666666666667% 81.81818181818181% no-repeat;
}

.svg-looks_4-dims {
	width: 24px;
	height: 24px;
}

.svg-looks_5 {
	background: url("svg-sprite-image.svg") 75% 81.81818181818181% no-repeat;
}

.svg-looks_5-dims {
	width: 24px;
	height: 24px;
}

.svg-looks_6 {
	background: url("svg-sprite-image.svg") 83.33333333333333% 0 no-repeat;
}

.svg-looks_6-dims {
	width: 24px;
	height: 24px;
}

.svg-looks_one {
	background: url("svg-sprite-image.svg") 83.33333333333333% 9.090909090909092% no-repeat;
}

.svg-looks_one-dims {
	width: 24px;
	height: 24px;
}

.svg-looks_two {
	background: url("svg-sprite-image.svg") 83.33333333333333% 18.181818181818183% no-repeat;
}

.svg-looks_two-dims {
	width: 24px;
	height: 24px;
}

.svg-loupe {
	background: url("svg-sprite-image.svg") 83.33333333333333% 27.272727272727273% no-repeat;
}

.svg-loupe-dims {
	width: 24px;
	height: 24px;
}

.svg-monochrome_photos {
	background: url("svg-sprite-image.svg") 83.33333333333333% 36.36363636363637% no-repeat;
}

.svg-monochrome_photos-dims {
	width: 24px;
	height: 24px;
}

.svg-movie_creation {
	background: url("svg-sprite-image.svg") 83.33333333333333% 45.45454545454545% no-repeat;
}

.svg-movie_creation-dims {
	width: 24px;
	height: 24px;
}

.svg-movie_filter {
	background: url("svg-sprite-image.svg") 83.33333333333333% 54.54545454545455% no-repeat;
}

.svg-movie_filter-dims {
	width: 24px;
	height: 24px;
}

.svg-music_note {
	background: url("svg-sprite-image.svg") 83.33333333333333% 63.63636363636363% no-repeat;
}

.svg-music_note-dims {
	width: 24px;
	height: 24px;
}

.svg-nature {
	background: url("svg-sprite-image.svg") 83.33333333333333% 72.72727272727273% no-repeat;
}

.svg-nature-dims {
	width: 24px;
	height: 24px;
}

.svg-nature_people {
	background: url("svg-sprite-image.svg") 83.33333333333333% 81.81818181818181% no-repeat;
}

.svg-nature_people-dims {
	width: 24px;
	height: 24px;
}

.svg-navigate_before {
	background: url("svg-sprite-image.svg") 0 90.9090909090909% no-repeat;
}

.svg-navigate_before-dims {
	width: 24px;
	height: 24px;
}

.svg-navigate_next {
	background: url("svg-sprite-image.svg") 8.333333333333334% 90.9090909090909% no-repeat;
}

.svg-navigate_next-dims {
	width: 24px;
	height: 24px;
}

.svg-palette {
	background: url("svg-sprite-image.svg") 16.666666666666668% 90.9090909090909% no-repeat;
}

.svg-palette-dims {
	width: 24px;
	height: 24px;
}

.svg-panorama {
	background: url("svg-sprite-image.svg") 25% 90.9090909090909% no-repeat;
}

.svg-panorama-dims {
	width: 24px;
	height: 24px;
}

.svg-panorama_fish_eye {
	background: url("svg-sprite-image.svg") 33.333333333333336% 90.9090909090909% no-repeat;
}

.svg-panorama_fish_eye-dims {
	width: 24px;
	height: 24px;
}

.svg-panorama_horizontal {
	background: url("svg-sprite-image.svg") 41.666666666666664% 90.9090909090909% no-repeat;
}

.svg-panorama_horizontal-dims {
	width: 24px;
	height: 24px;
}

.svg-panorama_vertical {
	background: url("svg-sprite-image.svg") 50% 90.9090909090909% no-repeat;
}

.svg-panorama_vertical-dims {
	width: 24px;
	height: 24px;
}

.svg-panorama_wide_angle {
	background: url("svg-sprite-image.svg") 58.333333333333336% 90.9090909090909% no-repeat;
}

.svg-panorama_wide_angle-dims {
	width: 24px;
	height: 24px;
}

.svg-photo {
	background: url("svg-sprite-image.svg") 66.66666666666667% 90.9090909090909% no-repeat;
}

.svg-photo-dims {
	width: 24px;
	height: 24px;
}

.svg-photo_album {
	background: url("svg-sprite-image.svg") 75% 90.9090909090909% no-repeat;
}

.svg-photo_album-dims {
	width: 24px;
	height: 24px;
}

.svg-photo_camera {
	background: url("svg-sprite-image.svg") 83.33333333333333% 90.9090909090909% no-repeat;
}

.svg-photo_camera-dims {
	width: 24px;
	height: 24px;
}

.svg-photo_filter {
	background: url("svg-sprite-image.svg") 91.66666666666667% 0 no-repeat;
}

.svg-photo_filter-dims {
	width: 24px;
	height: 24px;
}

.svg-photo_library {
	background: url("svg-sprite-image.svg") 91.66666666666667% 9.090909090909092% no-repeat;
}

.svg-photo_library-dims {
	width: 24px;
	height: 24px;
}

.svg-photo_size_select_actual {
	background: url("svg-sprite-image.svg") 91.66666666666667% 18.181818181818183% no-repeat;
}

.svg-photo_size_select_actual-dims {
	width: 24px;
	height: 24px;
}

.svg-photo_size_select_large {
	background: url("svg-sprite-image.svg") 91.66666666666667% 27.272727272727273% no-repeat;
}

.svg-photo_size_select_large-dims {
	width: 24px;
	height: 24px;
}

.svg-photo_size_select_small {
	background: url("svg-sprite-image.svg") 91.66666666666667% 36.36363636363637% no-repeat;
}

.svg-photo_size_select_small-dims {
	width: 24px;
	height: 24px;
}

.svg-picture_as_pdf {
	background: url("svg-sprite-image.svg") 91.66666666666667% 45.45454545454545% no-repeat;
}

.svg-picture_as_pdf-dims {
	width: 24px;
	height: 24px;
}

.svg-portrait {
	background: url("svg-sprite-image.svg") 91.66666666666667% 54.54545454545455% no-repeat;
}

.svg-portrait-dims {
	width: 24px;
	height: 24px;
}

.svg-remove_red_eye {
	background: url("svg-sprite-image.svg") 91.66666666666667% 63.63636363636363% no-repeat;
}

.svg-remove_red_eye-dims {
	width: 24px;
	height: 24px;
}

.svg-rotate_90_degrees_ccw {
	background: url("svg-sprite-image.svg") 91.66666666666667% 72.72727272727273% no-repeat;
}

.svg-rotate_90_degrees_ccw-dims {
	width: 24px;
	height: 24px;
}

.svg-rotate_left {
	background: url("svg-sprite-image.svg") 91.66666666666667% 81.81818181818181% no-repeat;
}

.svg-rotate_left-dims {
	width: 24px;
	height: 24px;
}

.svg-rotate_right {
	background: url("svg-sprite-image.svg") 91.66666666666667% 90.9090909090909% no-repeat;
}

.svg-rotate_right-dims {
	width: 24px;
	height: 24px;
}

.svg-slideshow {
	background: url("svg-sprite-image.svg") 0 100% no-repeat;
}

.svg-slideshow-dims {
	width: 24px;
	height: 24px;
}

.svg-straighten {
	background: url("svg-sprite-image.svg") 8.333333333333334% 100% no-repeat;
}

.svg-straighten-dims {
	width: 24px;
	height: 24px;
}

.svg-style {
	background: url("svg-sprite-image.svg") 16.666666666666668% 100% no-repeat;
}

.svg-style-dims {
	width: 24px;
	height: 24px;
}

.svg-switch_camera {
	background: url("svg-sprite-image.svg") 25% 100% no-repeat;
}

.svg-switch_camera-dims {
	width: 24px;
	height: 24px;
}

.svg-switch_video {
	background: url("svg-sprite-image.svg") 33.333333333333336% 100% no-repeat;
}

.svg-switch_video-dims {
	width: 24px;
	height: 24px;
}

.svg-tag_faces {
	background: url("svg-sprite-image.svg") 41.666666666666664% 100% no-repeat;
}

.svg-tag_faces-dims {
	width: 24px;
	height: 24px;
}

.svg-texture {
	background: url("svg-sprite-image.svg") 50% 100% no-repeat;
}

.svg-texture-dims {
	width: 24px;
	height: 24px;
}

.svg-timelapse {
	background: url("svg-sprite-image.svg") 58.333333333333336% 100% no-repeat;
}

.svg-timelapse-dims {
	width: 24px;
	height: 24px;
}

.svg-timer {
	background: url("svg-sprite-image.svg") 66.66666666666667% 100% no-repeat;
}

.svg-timer-dims {
	width: 24px;
	height: 24px;
}

.svg-timer_10 {
	background: url("svg-sprite-image.svg") 75% 100% no-repeat;
}

.svg-timer_10-dims {
	width: 24px;
	height: 24px;
}

.svg-timer_3 {
	background: url("svg-sprite-image.svg") 83.33333333333333% 100% no-repeat;
}

.svg-timer_3-dims {
	width: 24px;
	height: 24px;
}

.svg-timer_off {
	background: url("svg-sprite-image.svg") 91.66666666666667% 100% no-repeat;
}

.svg-timer_off-dims {
	width: 24px;
	height: 24px;
}

.svg-tonality {
	background: url("svg-sprite-image.svg") 100% 0 no-repeat;
}

.svg-tonality-dims {
	width: 24px;
	height: 24px;
}

.svg-transform {
	background: url("svg-sprite-image.svg") 100% 9.090909090909092% no-repeat;
}

.svg-transform-dims {
	width: 24px;
	height: 24px;
}

.svg-tune {
	background: url("svg-sprite-image.svg") 100% 18.181818181818183% no-repeat;
}

.svg-tune-dims {
	width: 24px;
	height: 24px;
}

.svg-view_comfy {
	background: url("svg-sprite-image.svg") 100% 27.272727272727273% no-repeat;
}

.svg-view_comfy-dims {
	width: 24px;
	height: 24px;
}

.svg-view_compact {
	background: url("svg-sprite-image.svg") 100% 36.36363636363637% no-repeat;
}

.svg-view_compact-dims {
	width: 24px;
	height: 24px;
}

.svg-vignette {
	background: url("svg-sprite-image.svg") 100% 45.45454545454545% no-repeat;
}

.svg-vignette-dims {
	width: 24px;
	height: 24px;
}

.svg-wb_auto {
	background: url("svg-sprite-image.svg") 100% 54.54545454545455% no-repeat;
}

.svg-wb_auto-dims {
	width: 24px;
	height: 24px;
}

.svg-wb_cloudy {
	background: url("svg-sprite-image.svg") 100% 63.63636363636363% no-repeat;
}

.svg-wb_cloudy-dims {
	width: 24px;
	height: 24px;
}

.svg-wb_incandescent {
	background: url("svg-sprite-image.svg") 100% 72.72727272727273% no-repeat;
}

.svg-wb_incandescent-dims {
	width: 24px;
	height: 24px;
}

.svg-wb_iridescent {
	background: url("svg-sprite-image.svg") 100% 81.81818181818181% no-repeat;
}

.svg-wb_iridescent-dims {
	width: 24px;
	height: 24px;
}

.svg-wb_sunny {
	background: url("svg-sprite-image.svg") 100% 90.9090909090909% no-repeat;
}

.svg-wb_sunny-dims {
	width: 24px;
	height: 24px;
}

