.svg-add_to_queue {
	background: url("svg-sprite-av.svg") 12.5% 0 no-repeat;
}

.svg-add_to_queue-dims {
	width: 24px;
	height: 24px;
}

.svg-airplay {
	background: url("svg-sprite-av.svg") 75% 50% no-repeat;
}

.svg-airplay-dims {
	width: 24px;
	height: 24px;
}

.svg-album {
	background: url("svg-sprite-av.svg") 0 12.5% no-repeat;
}

.svg-album-dims {
	width: 24px;
	height: 24px;
}

.svg-art_track {
	background: url("svg-sprite-av.svg") 12.5% 12.5% no-repeat;
}

.svg-art_track-dims {
	width: 24px;
	height: 24px;
}

.svg-av_timer {
	background: url("svg-sprite-av.svg") 25% 0 no-repeat;
}

.svg-av_timer-dims {
	width: 24px;
	height: 24px;
}

.svg-branding_watermark {
	background: url("svg-sprite-av.svg") 25% 12.5% no-repeat;
}

.svg-branding_watermark-dims {
	width: 24px;
	height: 24px;
}

.svg-call_to_action {
	background: url("svg-sprite-av.svg") 0 25% no-repeat;
}

.svg-call_to_action-dims {
	width: 24px;
	height: 24px;
}

.svg-closed_caption {
	background: url("svg-sprite-av.svg") 12.5% 25% no-repeat;
}

.svg-closed_caption-dims {
	width: 24px;
	height: 24px;
}

.svg-equalizer {
	background: url("svg-sprite-av.svg") 25% 25% no-repeat;
}

.svg-equalizer-dims {
	width: 24px;
	height: 24px;
}

.svg-explicit {
	background: url("svg-sprite-av.svg") 37.5% 0 no-repeat;
}

.svg-explicit-dims {
	width: 24px;
	height: 24px;
}

.svg-fast_forward {
	background: url("svg-sprite-av.svg") 37.5% 12.5% no-repeat;
}

.svg-fast_forward-dims {
	width: 24px;
	height: 24px;
}

.svg-fast_rewind {
	background: url("svg-sprite-av.svg") 37.5% 25% no-repeat;
}

.svg-fast_rewind-dims {
	width: 24px;
	height: 24px;
}

.svg-featured_play_list {
	background: url("svg-sprite-av.svg") 0 37.5% no-repeat;
}

.svg-featured_play_list-dims {
	width: 24px;
	height: 24px;
}

.svg-featured_video {
	background: url("svg-sprite-av.svg") 12.5% 37.5% no-repeat;
}

.svg-featured_video-dims {
	width: 24px;
	height: 24px;
}

.svg-fiber_dvr {
	background: url("svg-sprite-av.svg") 25% 37.5% no-repeat;
}

.svg-fiber_dvr-dims {
	width: 24px;
	height: 24px;
}

.svg-fiber_manual_record {
	background: url("svg-sprite-av.svg") 37.5% 37.5% no-repeat;
}

.svg-fiber_manual_record-dims {
	width: 24px;
	height: 24px;
}

.svg-fiber_new {
	background: url("svg-sprite-av.svg") 50% 0 no-repeat;
}

.svg-fiber_new-dims {
	width: 24px;
	height: 24px;
}

.svg-fiber_pin {
	background: url("svg-sprite-av.svg") 50% 12.5% no-repeat;
}

.svg-fiber_pin-dims {
	width: 24px;
	height: 24px;
}

.svg-fiber_smart_record {
	background: url("svg-sprite-av.svg") 50% 25% no-repeat;
}

.svg-fiber_smart_record-dims {
	width: 24px;
	height: 24px;
}

.svg-forward_10 {
	background: url("svg-sprite-av.svg") 50% 37.5% no-repeat;
}

.svg-forward_10-dims {
	width: 24px;
	height: 24px;
}

.svg-forward_30 {
	background: url("svg-sprite-av.svg") 0 50% no-repeat;
}

.svg-forward_30-dims {
	width: 24px;
	height: 24px;
}

.svg-forward_5 {
	background: url("svg-sprite-av.svg") 12.5% 50% no-repeat;
}

.svg-forward_5-dims {
	width: 24px;
	height: 24px;
}

.svg-games {
	background: url("svg-sprite-av.svg") 25% 50% no-repeat;
}

.svg-games-dims {
	width: 24px;
	height: 24px;
}

.svg-hd {
	background: url("svg-sprite-av.svg") 37.5% 50% no-repeat;
}

.svg-hd-dims {
	width: 24px;
	height: 24px;
}

.svg-hearing {
	background: url("svg-sprite-av.svg") 50% 50% no-repeat;
}

.svg-hearing-dims {
	width: 24px;
	height: 24px;
}

.svg-high_quality {
	background: url("svg-sprite-av.svg") 62.5% 0 no-repeat;
}

.svg-high_quality-dims {
	width: 24px;
	height: 24px;
}

.svg-library_add {
	background: url("svg-sprite-av.svg") 62.5% 12.5% no-repeat;
}

.svg-library_add-dims {
	width: 24px;
	height: 24px;
}

.svg-library_books {
	background: url("svg-sprite-av.svg") 62.5% 25% no-repeat;
}

.svg-library_books-dims {
	width: 24px;
	height: 24px;
}

.svg-library_music {
	background: url("svg-sprite-av.svg") 62.5% 37.5% no-repeat;
}

.svg-library_music-dims {
	width: 24px;
	height: 24px;
}

.svg-loop {
	background: url("svg-sprite-av.svg") 62.5% 50% no-repeat;
}

.svg-loop-dims {
	width: 24px;
	height: 24px;
}

.svg-mic {
	background: url("svg-sprite-av.svg") 0 62.5% no-repeat;
}

.svg-mic-dims {
	width: 24px;
	height: 24px;
}

.svg-mic_none {
	background: url("svg-sprite-av.svg") 12.5% 62.5% no-repeat;
}

.svg-mic_none-dims {
	width: 24px;
	height: 24px;
}

.svg-mic_off {
	background: url("svg-sprite-av.svg") 25% 62.5% no-repeat;
}

.svg-mic_off-dims {
	width: 24px;
	height: 24px;
}

.svg-movie {
	background: url("svg-sprite-av.svg") 37.5% 62.5% no-repeat;
}

.svg-movie-dims {
	width: 24px;
	height: 24px;
}

.svg-music_video {
	background: url("svg-sprite-av.svg") 50% 62.5% no-repeat;
}

.svg-music_video-dims {
	width: 24px;
	height: 24px;
}

.svg-new_releases {
	background: url("svg-sprite-av.svg") 62.5% 62.5% no-repeat;
}

.svg-new_releases-dims {
	width: 24px;
	height: 24px;
}

.svg-not_interested {
	background: url("svg-sprite-av.svg") 75% 0 no-repeat;
}

.svg-not_interested-dims {
	width: 24px;
	height: 24px;
}

.svg-note {
	background: url("svg-sprite-av.svg") 75% 12.5% no-repeat;
}

.svg-note-dims {
	width: 24px;
	height: 24px;
}

.svg-pause {
	background: url("svg-sprite-av.svg") 75% 25% no-repeat;
}

.svg-pause-dims {
	width: 24px;
	height: 24px;
}

.svg-pause_circle_filled {
	background: url("svg-sprite-av.svg") 75% 37.5% no-repeat;
}

.svg-pause_circle_filled-dims {
	width: 24px;
	height: 24px;
}

.svg-pause_circle_outline {
	background: url("svg-sprite-av.svg") 0 0 no-repeat;
}

.svg-pause_circle_outline-dims {
	width: 24px;
	height: 24px;
}

.svg-play_arrow {
	background: url("svg-sprite-av.svg") 75% 62.5% no-repeat;
}

.svg-play_arrow-dims {
	width: 24px;
	height: 24px;
}

.svg-play_circle_filled {
	background: url("svg-sprite-av.svg") 0 75% no-repeat;
}

.svg-play_circle_filled-dims {
	width: 24px;
	height: 24px;
}

.svg-play_circle_outline {
	background: url("svg-sprite-av.svg") 12.5% 75% no-repeat;
}

.svg-play_circle_outline-dims {
	width: 24px;
	height: 24px;
}

.svg-playlist_add {
	background: url("svg-sprite-av.svg") 25% 75% no-repeat;
}

.svg-playlist_add-dims {
	width: 24px;
	height: 24px;
}

.svg-playlist_add_check {
	background: url("svg-sprite-av.svg") 37.5% 75% no-repeat;
}

.svg-playlist_add_check-dims {
	width: 24px;
	height: 24px;
}

.svg-playlist_play {
	background: url("svg-sprite-av.svg") 50% 75% no-repeat;
}

.svg-playlist_play-dims {
	width: 24px;
	height: 24px;
}

.svg-queue {
	background: url("svg-sprite-av.svg") 62.5% 75% no-repeat;
}

.svg-queue-dims {
	width: 24px;
	height: 24px;
}

.svg-queue_music {
	background: url("svg-sprite-av.svg") 75% 75% no-repeat;
}

.svg-queue_music-dims {
	width: 24px;
	height: 24px;
}

.svg-queue_play_next {
	background: url("svg-sprite-av.svg") 87.5% 0 no-repeat;
}

.svg-queue_play_next-dims {
	width: 24px;
	height: 24px;
}

.svg-radio {
	background: url("svg-sprite-av.svg") 87.5% 12.5% no-repeat;
}

.svg-radio-dims {
	width: 24px;
	height: 24px;
}

.svg-recent_actors {
	background: url("svg-sprite-av.svg") 87.5% 25% no-repeat;
}

.svg-recent_actors-dims {
	width: 24px;
	height: 24px;
}

.svg-remove_from_queue {
	background: url("svg-sprite-av.svg") 87.5% 37.5% no-repeat;
}

.svg-remove_from_queue-dims {
	width: 24px;
	height: 24px;
}

.svg-repeat {
	background: url("svg-sprite-av.svg") 87.5% 50% no-repeat;
}

.svg-repeat-dims {
	width: 24px;
	height: 24px;
}

.svg-repeat_one {
	background: url("svg-sprite-av.svg") 87.5% 62.5% no-repeat;
}

.svg-repeat_one-dims {
	width: 24px;
	height: 24px;
}

.svg-replay {
	background: url("svg-sprite-av.svg") 87.5% 75% no-repeat;
}

.svg-replay-dims {
	width: 24px;
	height: 24px;
}

.svg-replay_10 {
	background: url("svg-sprite-av.svg") 0 87.5% no-repeat;
}

.svg-replay_10-dims {
	width: 24px;
	height: 24px;
}

.svg-replay_30 {
	background: url("svg-sprite-av.svg") 12.5% 87.5% no-repeat;
}

.svg-replay_30-dims {
	width: 24px;
	height: 24px;
}

.svg-replay_5 {
	background: url("svg-sprite-av.svg") 25% 87.5% no-repeat;
}

.svg-replay_5-dims {
	width: 24px;
	height: 24px;
}

.svg-shuffle {
	background: url("svg-sprite-av.svg") 37.5% 87.5% no-repeat;
}

.svg-shuffle-dims {
	width: 24px;
	height: 24px;
}

.svg-skip_next {
	background: url("svg-sprite-av.svg") 50% 87.5% no-repeat;
}

.svg-skip_next-dims {
	width: 24px;
	height: 24px;
}

.svg-skip_previous {
	background: url("svg-sprite-av.svg") 62.5% 87.5% no-repeat;
}

.svg-skip_previous-dims {
	width: 24px;
	height: 24px;
}

.svg-slow_motion_video {
	background: url("svg-sprite-av.svg") 75% 87.5% no-repeat;
}

.svg-slow_motion_video-dims {
	width: 24px;
	height: 24px;
}

.svg-snooze {
	background: url("svg-sprite-av.svg") 87.5% 87.5% no-repeat;
}

.svg-snooze-dims {
	width: 24px;
	height: 24px;
}

.svg-sort_by_alpha {
	background: url("svg-sprite-av.svg") 100% 0 no-repeat;
}

.svg-sort_by_alpha-dims {
	width: 24px;
	height: 24px;
}

.svg-stop {
	background: url("svg-sprite-av.svg") 100% 12.5% no-repeat;
}

.svg-stop-dims {
	width: 24px;
	height: 24px;
}

.svg-subscriptions {
	background: url("svg-sprite-av.svg") 100% 25% no-repeat;
}

.svg-subscriptions-dims {
	width: 24px;
	height: 24px;
}

.svg-subtitles {
	background: url("svg-sprite-av.svg") 100% 37.5% no-repeat;
}

.svg-subtitles-dims {
	width: 24px;
	height: 24px;
}

.svg-surround_sound {
	background: url("svg-sprite-av.svg") 100% 50% no-repeat;
}

.svg-surround_sound-dims {
	width: 24px;
	height: 24px;
}

.svg-video_call {
	background: url("svg-sprite-av.svg") 100% 62.5% no-repeat;
}

.svg-video_call-dims {
	width: 24px;
	height: 24px;
}

.svg-video_label {
	background: url("svg-sprite-av.svg") 100% 75% no-repeat;
}

.svg-video_label-dims {
	width: 24px;
	height: 24px;
}

.svg-video_library {
	background: url("svg-sprite-av.svg") 100% 87.5% no-repeat;
}

.svg-video_library-dims {
	width: 24px;
	height: 24px;
}

.svg-videocam {
	background: url("svg-sprite-av.svg") 0 100% no-repeat;
}

.svg-videocam-dims {
	width: 24px;
	height: 24px;
}

.svg-videocam_off {
	background: url("svg-sprite-av.svg") 12.5% 100% no-repeat;
}

.svg-videocam_off-dims {
	width: 24px;
	height: 24px;
}

.svg-volume_down {
	background: url("svg-sprite-av.svg") 25% 100% no-repeat;
}

.svg-volume_down-dims {
	width: 24px;
	height: 24px;
}

.svg-volume_mute {
	background: url("svg-sprite-av.svg") 37.5% 100% no-repeat;
}

.svg-volume_mute-dims {
	width: 24px;
	height: 24px;
}

.svg-volume_off {
	background: url("svg-sprite-av.svg") 50% 100% no-repeat;
}

.svg-volume_off-dims {
	width: 24px;
	height: 24px;
}

.svg-volume_up {
	background: url("svg-sprite-av.svg") 62.5% 100% no-repeat;
}

.svg-volume_up-dims {
	width: 24px;
	height: 24px;
}

.svg-web {
	background: url("svg-sprite-av.svg") 75% 100% no-repeat;
}

.svg-web-dims {
	width: 24px;
	height: 24px;
}

.svg-web_asset {
	background: url("svg-sprite-av.svg") 87.5% 100% no-repeat;
}

.svg-web_asset-dims {
	width: 24px;
	height: 24px;
}

