.svg-3d_rotation {
	background: url("svg-sprite-action.svg") 7.142857142857143% 0 no-repeat;
}

.svg-3d_rotation-dims {
	width: 24px;
	height: 24px;
}

.svg-accessibility {
	background: url("svg-sprite-action.svg") 71.42857142857143% 50% no-repeat;
}

.svg-accessibility-dims {
	width: 24px;
	height: 24px;
}

.svg-accessible {
	background: url("svg-sprite-action.svg") 0 7.142857142857143% no-repeat;
}

.svg-accessible-dims {
	width: 24px;
	height: 24px;
}

.svg-account_balance {
	background: url("svg-sprite-action.svg") 7.142857142857143% 7.142857142857143% no-repeat;
}

.svg-account_balance-dims {
	width: 24px;
	height: 24px;
}

.svg-account_balance_wallet {
	background: url("svg-sprite-action.svg") 14.285714285714286% 0 no-repeat;
}

.svg-account_balance_wallet-dims {
	width: 24px;
	height: 24px;
}

.svg-account_box {
	background: url("svg-sprite-action.svg") 14.285714285714286% 7.142857142857143% no-repeat;
}

.svg-account_box-dims {
	width: 24px;
	height: 24px;
}

.svg-account_circle {
	background: url("svg-sprite-action.svg") 0 14.285714285714286% no-repeat;
}

.svg-account_circle-dims {
	width: 24px;
	height: 24px;
}

.svg-add_shopping_cart {
	background: url("svg-sprite-action.svg") 7.142857142857143% 14.285714285714286% no-repeat;
}

.svg-add_shopping_cart-dims {
	width: 24px;
	height: 24px;
}

.svg-alarm {
	background: url("svg-sprite-action.svg") 14.285714285714286% 14.285714285714286% no-repeat;
}

.svg-alarm-dims {
	width: 24px;
	height: 24px;
}

.svg-alarm_add {
	background: url("svg-sprite-action.svg") 21.428571428571427% 0 no-repeat;
}

.svg-alarm_add-dims {
	width: 24px;
	height: 24px;
}

.svg-alarm_off {
	background: url("svg-sprite-action.svg") 21.428571428571427% 7.142857142857143% no-repeat;
}

.svg-alarm_off-dims {
	width: 24px;
	height: 24px;
}

.svg-alarm_on {
	background: url("svg-sprite-action.svg") 21.428571428571427% 14.285714285714286% no-repeat;
}

.svg-alarm_on-dims {
	width: 24px;
	height: 24px;
}

.svg-all_out {
	background: url("svg-sprite-action.svg") 0 21.428571428571427% no-repeat;
}

.svg-all_out-dims {
	width: 24px;
	height: 24px;
}

.svg-android {
	background: url("svg-sprite-action.svg") 7.142857142857143% 21.428571428571427% no-repeat;
}

.svg-android-dims {
	width: 24px;
	height: 24px;
}

.svg-announcement {
	background: url("svg-sprite-action.svg") 14.285714285714286% 21.428571428571427% no-repeat;
}

.svg-announcement-dims {
	width: 24px;
	height: 24px;
}

.svg-aspect_ratio {
	background: url("svg-sprite-action.svg") 21.428571428571427% 21.428571428571427% no-repeat;
}

.svg-aspect_ratio-dims {
	width: 24px;
	height: 24px;
}

.svg-assessment {
	background: url("svg-sprite-action.svg") 28.571428571428573% 0 no-repeat;
}

.svg-assessment-dims {
	width: 24px;
	height: 24px;
}

.svg-assignment {
	background: url("svg-sprite-action.svg") 28.571428571428573% 7.142857142857143% no-repeat;
}

.svg-assignment-dims {
	width: 24px;
	height: 24px;
}

.svg-assignment_ind {
	background: url("svg-sprite-action.svg") 28.571428571428573% 14.285714285714286% no-repeat;
}

.svg-assignment_ind-dims {
	width: 24px;
	height: 24px;
}

.svg-assignment_late {
	background: url("svg-sprite-action.svg") 28.571428571428573% 21.428571428571427% no-repeat;
}

.svg-assignment_late-dims {
	width: 24px;
	height: 24px;
}

.svg-assignment_return {
	background: url("svg-sprite-action.svg") 0 28.571428571428573% no-repeat;
}

.svg-assignment_return-dims {
	width: 24px;
	height: 24px;
}

.svg-assignment_returned {
	background: url("svg-sprite-action.svg") 7.142857142857143% 28.571428571428573% no-repeat;
}

.svg-assignment_returned-dims {
	width: 24px;
	height: 24px;
}

.svg-assignment_turned_in {
	background: url("svg-sprite-action.svg") 14.285714285714286% 28.571428571428573% no-repeat;
}

.svg-assignment_turned_in-dims {
	width: 24px;
	height: 24px;
}

.svg-autorenew {
	background: url("svg-sprite-action.svg") 21.428571428571427% 28.571428571428573% no-repeat;
}

.svg-autorenew-dims {
	width: 24px;
	height: 24px;
}

.svg-backup {
	background: url("svg-sprite-action.svg") 28.571428571428573% 28.571428571428573% no-repeat;
}

.svg-backup-dims {
	width: 24px;
	height: 24px;
}

.svg-book {
	background: url("svg-sprite-action.svg") 35.714285714285715% 0 no-repeat;
}

.svg-book-dims {
	width: 24px;
	height: 24px;
}

.svg-bookmark {
	background: url("svg-sprite-action.svg") 35.714285714285715% 7.142857142857143% no-repeat;
}

.svg-bookmark-dims {
	width: 24px;
	height: 24px;
}

.svg-bookmark_border {
	background: url("svg-sprite-action.svg") 35.714285714285715% 14.285714285714286% no-repeat;
}

.svg-bookmark_border-dims {
	width: 24px;
	height: 24px;
}

.svg-bug_report {
	background: url("svg-sprite-action.svg") 35.714285714285715% 21.428571428571427% no-repeat;
}

.svg-bug_report-dims {
	width: 24px;
	height: 24px;
}

.svg-build {
	background: url("svg-sprite-action.svg") 35.714285714285715% 28.571428571428573% no-repeat;
}

.svg-build-dims {
	width: 24px;
	height: 24px;
}

.svg-cached {
	background: url("svg-sprite-action.svg") 0 35.714285714285715% no-repeat;
}

.svg-cached-dims {
	width: 24px;
	height: 24px;
}

.svg-camera_enhance {
	background: url("svg-sprite-action.svg") 7.142857142857143% 35.714285714285715% no-repeat;
}

.svg-camera_enhance-dims {
	width: 24px;
	height: 24px;
}

.svg-card_giftcard {
	background: url("svg-sprite-action.svg") 14.285714285714286% 35.714285714285715% no-repeat;
}

.svg-card_giftcard-dims {
	width: 24px;
	height: 24px;
}

.svg-card_membership {
	background: url("svg-sprite-action.svg") 21.428571428571427% 35.714285714285715% no-repeat;
}

.svg-card_membership-dims {
	width: 24px;
	height: 24px;
}

.svg-card_travel {
	background: url("svg-sprite-action.svg") 28.571428571428573% 35.714285714285715% no-repeat;
}

.svg-card_travel-dims {
	width: 24px;
	height: 24px;
}

.svg-change_history {
	background: url("svg-sprite-action.svg") 35.714285714285715% 35.714285714285715% no-repeat;
}

.svg-change_history-dims {
	width: 24px;
	height: 24px;
}

.svg-check_circle {
	background: url("svg-sprite-action.svg") 42.857142857142854% 0 no-repeat;
}

.svg-check_circle-dims {
	width: 24px;
	height: 24px;
}

.svg-chrome_reader_mode {
	background: url("svg-sprite-action.svg") 42.857142857142854% 7.142857142857143% no-repeat;
}

.svg-chrome_reader_mode-dims {
	width: 24px;
	height: 24px;
}

.svg-class {
	background: url("svg-sprite-action.svg") 42.857142857142854% 14.285714285714286% no-repeat;
}

.svg-class-dims {
	width: 24px;
	height: 24px;
}

.svg-code {
	background: url("svg-sprite-action.svg") 42.857142857142854% 21.428571428571427% no-repeat;
}

.svg-code-dims {
	width: 24px;
	height: 24px;
}

.svg-compare_arrows {
	background: url("svg-sprite-action.svg") 42.857142857142854% 28.571428571428573% no-repeat;
}

.svg-compare_arrows-dims {
	width: 24px;
	height: 24px;
}

.svg-copyright {
	background: url("svg-sprite-action.svg") 42.857142857142854% 35.714285714285715% no-repeat;
}

.svg-copyright-dims {
	width: 24px;
	height: 24px;
}

.svg-credit_card {
	background: url("svg-sprite-action.svg") 0 42.857142857142854% no-repeat;
}

.svg-credit_card-dims {
	width: 24px;
	height: 24px;
}

.svg-dashboard {
	background: url("svg-sprite-action.svg") 7.142857142857143% 42.857142857142854% no-repeat;
}

.svg-dashboard-dims {
	width: 24px;
	height: 24px;
}

.svg-date_range {
	background: url("svg-sprite-action.svg") 14.285714285714286% 42.857142857142854% no-repeat;
}

.svg-date_range-dims {
	width: 24px;
	height: 24px;
}

.svg-delete {
	background: url("svg-sprite-action.svg") 21.428571428571427% 42.857142857142854% no-repeat;
}

.svg-delete-dims {
	width: 24px;
	height: 24px;
}

.svg-delete_forever {
	background: url("svg-sprite-action.svg") 28.571428571428573% 42.857142857142854% no-repeat;
}

.svg-delete_forever-dims {
	width: 24px;
	height: 24px;
}

.svg-description {
	background: url("svg-sprite-action.svg") 35.714285714285715% 42.857142857142854% no-repeat;
}

.svg-description-dims {
	width: 24px;
	height: 24px;
}

.svg-dns {
	background: url("svg-sprite-action.svg") 42.857142857142854% 42.857142857142854% no-repeat;
}

.svg-dns-dims {
	width: 24px;
	height: 24px;
}

.svg-done {
	background: url("svg-sprite-action.svg") 50% 0 no-repeat;
}

.svg-done-dims {
	width: 24px;
	height: 24px;
}

.svg-done_all {
	background: url("svg-sprite-action.svg") 50% 7.142857142857143% no-repeat;
}

.svg-done_all-dims {
	width: 24px;
	height: 24px;
}

.svg-donut_large {
	background: url("svg-sprite-action.svg") 50% 14.285714285714286% no-repeat;
}

.svg-donut_large-dims {
	width: 24px;
	height: 24px;
}

.svg-donut_small {
	background: url("svg-sprite-action.svg") 50% 21.428571428571427% no-repeat;
}

.svg-donut_small-dims {
	width: 24px;
	height: 24px;
}

.svg-eject {
	background: url("svg-sprite-action.svg") 50% 28.571428571428573% no-repeat;
}

.svg-eject-dims {
	width: 24px;
	height: 24px;
}

.svg-euro_symbol {
	background: url("svg-sprite-action.svg") 50% 35.714285714285715% no-repeat;
}

.svg-euro_symbol-dims {
	width: 24px;
	height: 24px;
}

.svg-event {
	background: url("svg-sprite-action.svg") 50% 42.857142857142854% no-repeat;
}

.svg-event-dims {
	width: 24px;
	height: 24px;
}

.svg-event_seat {
	background: url("svg-sprite-action.svg") 0 50% no-repeat;
}

.svg-event_seat-dims {
	width: 24px;
	height: 24px;
}

.svg-exit_to_app {
	background: url("svg-sprite-action.svg") 7.142857142857143% 50% no-repeat;
}

.svg-exit_to_app-dims {
	width: 24px;
	height: 24px;
}

.svg-explore {
	background: url("svg-sprite-action.svg") 14.285714285714286% 50% no-repeat;
}

.svg-explore-dims {
	width: 24px;
	height: 24px;
}

.svg-extension {
	background: url("svg-sprite-action.svg") 21.428571428571427% 50% no-repeat;
}

.svg-extension-dims {
	width: 24px;
	height: 24px;
}

.svg-face {
	background: url("svg-sprite-action.svg") 28.571428571428573% 50% no-repeat;
}

.svg-face-dims {
	width: 24px;
	height: 24px;
}

.svg-favorite {
	background: url("svg-sprite-action.svg") 35.714285714285715% 50% no-repeat;
}

.svg-favorite-dims {
	width: 24px;
	height: 24px;
}

.svg-favorite_border {
	background: url("svg-sprite-action.svg") 42.857142857142854% 50% no-repeat;
}

.svg-favorite_border-dims {
	width: 24px;
	height: 24px;
}

.svg-feedback {
	background: url("svg-sprite-action.svg") 50% 50% no-repeat;
}

.svg-feedback-dims {
	width: 24px;
	height: 24px;
}

.svg-find_in_page {
	background: url("svg-sprite-action.svg") 57.142857142857146% 0 no-repeat;
}

.svg-find_in_page-dims {
	width: 24px;
	height: 24px;
}

.svg-find_replace {
	background: url("svg-sprite-action.svg") 57.142857142857146% 7.142857142857143% no-repeat;
}

.svg-find_replace-dims {
	width: 24px;
	height: 24px;
}

.svg-fingerprint {
	background: url("svg-sprite-action.svg") 57.142857142857146% 14.285714285714286% no-repeat;
}

.svg-fingerprint-dims {
	width: 24px;
	height: 24px;
}

.svg-flight_land {
	background: url("svg-sprite-action.svg") 57.142857142857146% 21.428571428571427% no-repeat;
}

.svg-flight_land-dims {
	width: 24px;
	height: 24px;
}

.svg-flight_takeoff {
	background: url("svg-sprite-action.svg") 57.142857142857146% 28.571428571428573% no-repeat;
}

.svg-flight_takeoff-dims {
	width: 24px;
	height: 24px;
}

.svg-flip_to_back {
	background: url("svg-sprite-action.svg") 57.142857142857146% 35.714285714285715% no-repeat;
}

.svg-flip_to_back-dims {
	width: 24px;
	height: 24px;
}

.svg-flip_to_front {
	background: url("svg-sprite-action.svg") 57.142857142857146% 42.857142857142854% no-repeat;
}

.svg-flip_to_front-dims {
	width: 24px;
	height: 24px;
}

.svg-g_translate {
	background: url("svg-sprite-action.svg") 57.142857142857146% 50% no-repeat;
}

.svg-g_translate-dims {
	width: 24px;
	height: 24px;
}

.svg-gavel {
	background: url("svg-sprite-action.svg") 0 57.142857142857146% no-repeat;
}

.svg-gavel-dims {
	width: 24px;
	height: 24px;
}

.svg-get_app {
	background: url("svg-sprite-action.svg") 7.142857142857143% 57.142857142857146% no-repeat;
}

.svg-get_app-dims {
	width: 24px;
	height: 24px;
}

.svg-gif {
	background: url("svg-sprite-action.svg") 14.285714285714286% 57.142857142857146% no-repeat;
}

.svg-gif-dims {
	width: 24px;
	height: 24px;
}

.svg-grade {
	background: url("svg-sprite-action.svg") 21.428571428571427% 57.142857142857146% no-repeat;
}

.svg-grade-dims {
	width: 24px;
	height: 24px;
}

.svg-group_work {
	background: url("svg-sprite-action.svg") 28.571428571428573% 57.142857142857146% no-repeat;
}

.svg-group_work-dims {
	width: 24px;
	height: 24px;
}

.svg-help {
	background: url("svg-sprite-action.svg") 35.714285714285715% 57.142857142857146% no-repeat;
}

.svg-help-dims {
	width: 24px;
	height: 24px;
}

.svg-help_outline {
	background: url("svg-sprite-action.svg") 42.857142857142854% 57.142857142857146% no-repeat;
}

.svg-help_outline-dims {
	width: 24px;
	height: 24px;
}

.svg-highlight_off {
	background: url("svg-sprite-action.svg") 50% 57.142857142857146% no-repeat;
}

.svg-highlight_off-dims {
	width: 24px;
	height: 24px;
}

.svg-history {
	background: url("svg-sprite-action.svg") 57.142857142857146% 57.142857142857146% no-repeat;
}

.svg-history-dims {
	width: 24px;
	height: 24px;
}

.svg-home {
	background: url("svg-sprite-action.svg") 64.28571428571429% 0 no-repeat;
}

.svg-home-dims {
	width: 24px;
	height: 24px;
}

.svg-hourglass_empty {
	background: url("svg-sprite-action.svg") 64.28571428571429% 7.142857142857143% no-repeat;
}

.svg-hourglass_empty-dims {
	width: 24px;
	height: 24px;
}

.svg-hourglass_full {
	background: url("svg-sprite-action.svg") 64.28571428571429% 14.285714285714286% no-repeat;
}

.svg-hourglass_full-dims {
	width: 24px;
	height: 24px;
}

.svg-http {
	background: url("svg-sprite-action.svg") 64.28571428571429% 21.428571428571427% no-repeat;
}

.svg-http-dims {
	width: 24px;
	height: 24px;
}

.svg-https {
	background: url("svg-sprite-action.svg") 64.28571428571429% 28.571428571428573% no-repeat;
}

.svg-https-dims {
	width: 24px;
	height: 24px;
}

.svg-important_devices {
	background: url("svg-sprite-action.svg") 64.28571428571429% 35.714285714285715% no-repeat;
}

.svg-important_devices-dims {
	width: 24px;
	height: 24px;
}

.svg-info {
	background: url("svg-sprite-action.svg") 64.28571428571429% 42.857142857142854% no-repeat;
}

.svg-info-dims {
	width: 24px;
	height: 24px;
}

.svg-info_outline {
	background: url("svg-sprite-action.svg") 64.28571428571429% 50% no-repeat;
}

.svg-info_outline-dims {
	width: 24px;
	height: 24px;
}

.svg-input {
	background: url("svg-sprite-action.svg") 64.28571428571429% 57.142857142857146% no-repeat;
}

.svg-input-dims {
	width: 24px;
	height: 24px;
}

.svg-invert_colors {
	background: url("svg-sprite-action.svg") 0 64.28571428571429% no-repeat;
}

.svg-invert_colors-dims {
	width: 24px;
	height: 24px;
}

.svg-label {
	background: url("svg-sprite-action.svg") 7.142857142857143% 64.28571428571429% no-repeat;
}

.svg-label-dims {
	width: 24px;
	height: 24px;
}

.svg-label_outline {
	background: url("svg-sprite-action.svg") 14.285714285714286% 64.28571428571429% no-repeat;
}

.svg-label_outline-dims {
	width: 24px;
	height: 24px;
}

.svg-language {
	background: url("svg-sprite-action.svg") 21.428571428571427% 64.28571428571429% no-repeat;
}

.svg-language-dims {
	width: 24px;
	height: 24px;
}

.svg-launch {
	background: url("svg-sprite-action.svg") 28.571428571428573% 64.28571428571429% no-repeat;
}

.svg-launch-dims {
	width: 24px;
	height: 24px;
}

.svg-lightbulb_outline {
	background: url("svg-sprite-action.svg") 35.714285714285715% 64.28571428571429% no-repeat;
}

.svg-lightbulb_outline-dims {
	width: 24px;
	height: 24px;
}

.svg-line_style {
	background: url("svg-sprite-action.svg") 42.857142857142854% 64.28571428571429% no-repeat;
}

.svg-line_style-dims {
	width: 24px;
	height: 24px;
}

.svg-line_weight {
	background: url("svg-sprite-action.svg") 50% 64.28571428571429% no-repeat;
}

.svg-line_weight-dims {
	width: 24px;
	height: 24px;
}

.svg-list {
	background: url("svg-sprite-action.svg") 57.142857142857146% 64.28571428571429% no-repeat;
}

.svg-list-dims {
	width: 24px;
	height: 24px;
}

.svg-lock {
	background: url("svg-sprite-action.svg") 64.28571428571429% 64.28571428571429% no-repeat;
}

.svg-lock-dims {
	width: 24px;
	height: 24px;
}

.svg-lock_open {
	background: url("svg-sprite-action.svg") 71.42857142857143% 0 no-repeat;
}

.svg-lock_open-dims {
	width: 24px;
	height: 24px;
}

.svg-lock_outline {
	background: url("svg-sprite-action.svg") 71.42857142857143% 7.142857142857143% no-repeat;
}

.svg-lock_outline-dims {
	width: 24px;
	height: 24px;
}

.svg-loyalty {
	background: url("svg-sprite-action.svg") 71.42857142857143% 14.285714285714286% no-repeat;
}

.svg-loyalty-dims {
	width: 24px;
	height: 24px;
}

.svg-markunread_mailbox {
	background: url("svg-sprite-action.svg") 71.42857142857143% 21.428571428571427% no-repeat;
}

.svg-markunread_mailbox-dims {
	width: 24px;
	height: 24px;
}

.svg-motorcycle {
	background: url("svg-sprite-action.svg") 71.42857142857143% 28.571428571428573% no-repeat;
}

.svg-motorcycle-dims {
	width: 24px;
	height: 24px;
}

.svg-note_add {
	background: url("svg-sprite-action.svg") 71.42857142857143% 35.714285714285715% no-repeat;
}

.svg-note_add-dims {
	width: 24px;
	height: 24px;
}

.svg-offline_pin {
	background: url("svg-sprite-action.svg") 71.42857142857143% 42.857142857142854% no-repeat;
}

.svg-offline_pin-dims {
	width: 24px;
	height: 24px;
}

.svg-opacity {
	background: url("svg-sprite-action.svg") 0 0 no-repeat;
}

.svg-opacity-dims {
	width: 24px;
	height: 24px;
}

.svg-open_in_browser {
	background: url("svg-sprite-action.svg") 71.42857142857143% 57.142857142857146% no-repeat;
}

.svg-open_in_browser-dims {
	width: 24px;
	height: 24px;
}

.svg-open_in_new {
	background: url("svg-sprite-action.svg") 71.42857142857143% 64.28571428571429% no-repeat;
}

.svg-open_in_new-dims {
	width: 24px;
	height: 24px;
}

.svg-open_with {
	background: url("svg-sprite-action.svg") 0 71.42857142857143% no-repeat;
}

.svg-open_with-dims {
	width: 24px;
	height: 24px;
}

.svg-pageview {
	background: url("svg-sprite-action.svg") 7.142857142857143% 71.42857142857143% no-repeat;
}

.svg-pageview-dims {
	width: 24px;
	height: 24px;
}

.svg-pan_tool {
	background: url("svg-sprite-action.svg") 14.285714285714286% 71.42857142857143% no-repeat;
}

.svg-pan_tool-dims {
	width: 24px;
	height: 24px;
}

.svg-payment {
	background: url("svg-sprite-action.svg") 21.428571428571427% 71.42857142857143% no-repeat;
}

.svg-payment-dims {
	width: 24px;
	height: 24px;
}

.svg-perm_camera_mic {
	background: url("svg-sprite-action.svg") 28.571428571428573% 71.42857142857143% no-repeat;
}

.svg-perm_camera_mic-dims {
	width: 24px;
	height: 24px;
}

.svg-perm_contact_calendar {
	background: url("svg-sprite-action.svg") 35.714285714285715% 71.42857142857143% no-repeat;
}

.svg-perm_contact_calendar-dims {
	width: 24px;
	height: 24px;
}

.svg-perm_data_setting {
	background: url("svg-sprite-action.svg") 42.857142857142854% 71.42857142857143% no-repeat;
}

.svg-perm_data_setting-dims {
	width: 24px;
	height: 24px;
}

.svg-perm_device_information {
	background: url("svg-sprite-action.svg") 50% 71.42857142857143% no-repeat;
}

.svg-perm_device_information-dims {
	width: 24px;
	height: 24px;
}

.svg-perm_identity {
	background: url("svg-sprite-action.svg") 57.142857142857146% 71.42857142857143% no-repeat;
}

.svg-perm_identity-dims {
	width: 24px;
	height: 24px;
}

.svg-perm_media {
	background: url("svg-sprite-action.svg") 64.28571428571429% 71.42857142857143% no-repeat;
}

.svg-perm_media-dims {
	width: 24px;
	height: 24px;
}

.svg-perm_phone_msg {
	background: url("svg-sprite-action.svg") 71.42857142857143% 71.42857142857143% no-repeat;
}

.svg-perm_phone_msg-dims {
	width: 24px;
	height: 24px;
}

.svg-perm_scan_wifi {
	background: url("svg-sprite-action.svg") 78.57142857142857% 0 no-repeat;
}

.svg-perm_scan_wifi-dims {
	width: 24px;
	height: 24px;
}

.svg-pets {
	background: url("svg-sprite-action.svg") 78.57142857142857% 7.142857142857143% no-repeat;
}

.svg-pets-dims {
	width: 24px;
	height: 24px;
}

.svg-picture_in_picture {
	background: url("svg-sprite-action.svg") 78.57142857142857% 14.285714285714286% no-repeat;
}

.svg-picture_in_picture-dims {
	width: 24px;
	height: 24px;
}

.svg-picture_in_picture_alt {
	background: url("svg-sprite-action.svg") 78.57142857142857% 21.428571428571427% no-repeat;
}

.svg-picture_in_picture_alt-dims {
	width: 24px;
	height: 24px;
}

.svg-play_for_work {
	background: url("svg-sprite-action.svg") 78.57142857142857% 28.571428571428573% no-repeat;
}

.svg-play_for_work-dims {
	width: 24px;
	height: 24px;
}

.svg-polymer {
	background: url("svg-sprite-action.svg") 78.57142857142857% 35.714285714285715% no-repeat;
}

.svg-polymer-dims {
	width: 24px;
	height: 24px;
}

.svg-power_settings_new {
	background: url("svg-sprite-action.svg") 78.57142857142857% 42.857142857142854% no-repeat;
}

.svg-power_settings_new-dims {
	width: 24px;
	height: 24px;
}

.svg-pregnant_woman {
	background: url("svg-sprite-action.svg") 78.57142857142857% 50% no-repeat;
}

.svg-pregnant_woman-dims {
	width: 24px;
	height: 24px;
}

.svg-print {
	background: url("svg-sprite-action.svg") 78.57142857142857% 57.142857142857146% no-repeat;
}

.svg-print-dims {
	width: 24px;
	height: 24px;
}

.svg-query_builder {
	background: url("svg-sprite-action.svg") 78.57142857142857% 64.28571428571429% no-repeat;
}

.svg-query_builder-dims {
	width: 24px;
	height: 24px;
}

.svg-question_answer {
	background: url("svg-sprite-action.svg") 78.57142857142857% 71.42857142857143% no-repeat;
}

.svg-question_answer-dims {
	width: 24px;
	height: 24px;
}

.svg-receipt {
	background: url("svg-sprite-action.svg") 0 78.57142857142857% no-repeat;
}

.svg-receipt-dims {
	width: 24px;
	height: 24px;
}

.svg-record_voice_over {
	background: url("svg-sprite-action.svg") 7.142857142857143% 78.57142857142857% no-repeat;
}

.svg-record_voice_over-dims {
	width: 24px;
	height: 24px;
}

.svg-redeem {
	background: url("svg-sprite-action.svg") 14.285714285714286% 78.57142857142857% no-repeat;
}

.svg-redeem-dims {
	width: 24px;
	height: 24px;
}

.svg-remove_shopping_cart {
	background: url("svg-sprite-action.svg") 21.428571428571427% 78.57142857142857% no-repeat;
}

.svg-remove_shopping_cart-dims {
	width: 24px;
	height: 24px;
}

.svg-reorder {
	background: url("svg-sprite-action.svg") 28.571428571428573% 78.57142857142857% no-repeat;
}

.svg-reorder-dims {
	width: 24px;
	height: 24px;
}

.svg-report_problem {
	background: url("svg-sprite-action.svg") 35.714285714285715% 78.57142857142857% no-repeat;
}

.svg-report_problem-dims {
	width: 24px;
	height: 24px;
}

.svg-restore {
	background: url("svg-sprite-action.svg") 42.857142857142854% 78.57142857142857% no-repeat;
}

.svg-restore-dims {
	width: 24px;
	height: 24px;
}

.svg-restore_page {
	background: url("svg-sprite-action.svg") 50% 78.57142857142857% no-repeat;
}

.svg-restore_page-dims {
	width: 24px;
	height: 24px;
}

.svg-room {
	background: url("svg-sprite-action.svg") 57.142857142857146% 78.57142857142857% no-repeat;
}

.svg-room-dims {
	width: 24px;
	height: 24px;
}

.svg-rounded_corner {
	background: url("svg-sprite-action.svg") 64.28571428571429% 78.57142857142857% no-repeat;
}

.svg-rounded_corner-dims {
	width: 24px;
	height: 24px;
}

.svg-rowing {
	background: url("svg-sprite-action.svg") 71.42857142857143% 78.57142857142857% no-repeat;
}

.svg-rowing-dims {
	width: 24px;
	height: 24px;
}

.svg-schedule {
	background: url("svg-sprite-action.svg") 78.57142857142857% 78.57142857142857% no-repeat;
}

.svg-schedule-dims {
	width: 24px;
	height: 24px;
}

.svg-search {
	background: url("svg-sprite-action.svg") 85.71428571428571% 0 no-repeat;
}

.svg-search-dims {
	width: 24px;
	height: 24px;
}

.svg-settings {
	background: url("svg-sprite-action.svg") 85.71428571428571% 7.142857142857143% no-repeat;
}

.svg-settings-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_applications {
	background: url("svg-sprite-action.svg") 85.71428571428571% 14.285714285714286% no-repeat;
}

.svg-settings_applications-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_backup_restore {
	background: url("svg-sprite-action.svg") 85.71428571428571% 21.428571428571427% no-repeat;
}

.svg-settings_backup_restore-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_bluetooth {
	background: url("svg-sprite-action.svg") 85.71428571428571% 28.571428571428573% no-repeat;
}

.svg-settings_bluetooth-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_brightness {
	background: url("svg-sprite-action.svg") 85.71428571428571% 35.714285714285715% no-repeat;
}

.svg-settings_brightness-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_cell {
	background: url("svg-sprite-action.svg") 85.71428571428571% 42.857142857142854% no-repeat;
}

.svg-settings_cell-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_ethernet {
	background: url("svg-sprite-action.svg") 85.71428571428571% 50% no-repeat;
}

.svg-settings_ethernet-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_input_antenna {
	background: url("svg-sprite-action.svg") 85.71428571428571% 57.142857142857146% no-repeat;
}

.svg-settings_input_antenna-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_input_component {
	background: url("svg-sprite-action.svg") 85.71428571428571% 64.28571428571429% no-repeat;
}

.svg-settings_input_component-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_input_composite {
	background: url("svg-sprite-action.svg") 85.71428571428571% 71.42857142857143% no-repeat;
}

.svg-settings_input_composite-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_input_hdmi {
	background: url("svg-sprite-action.svg") 85.71428571428571% 78.57142857142857% no-repeat;
}

.svg-settings_input_hdmi-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_input_svideo {
	background: url("svg-sprite-action.svg") 0 85.71428571428571% no-repeat;
}

.svg-settings_input_svideo-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_overscan {
	background: url("svg-sprite-action.svg") 7.142857142857143% 85.71428571428571% no-repeat;
}

.svg-settings_overscan-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_phone {
	background: url("svg-sprite-action.svg") 14.285714285714286% 85.71428571428571% no-repeat;
}

.svg-settings_phone-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_power {
	background: url("svg-sprite-action.svg") 21.428571428571427% 85.71428571428571% no-repeat;
}

.svg-settings_power-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_remote {
	background: url("svg-sprite-action.svg") 28.571428571428573% 85.71428571428571% no-repeat;
}

.svg-settings_remote-dims {
	width: 24px;
	height: 24px;
}

.svg-settings_voice {
	background: url("svg-sprite-action.svg") 35.714285714285715% 85.71428571428571% no-repeat;
}

.svg-settings_voice-dims {
	width: 24px;
	height: 24px;
}

.svg-shop {
	background: url("svg-sprite-action.svg") 42.857142857142854% 85.71428571428571% no-repeat;
}

.svg-shop-dims {
	width: 24px;
	height: 24px;
}

.svg-shop_two {
	background: url("svg-sprite-action.svg") 50% 85.71428571428571% no-repeat;
}

.svg-shop_two-dims {
	width: 24px;
	height: 24px;
}

.svg-shopping_basket {
	background: url("svg-sprite-action.svg") 57.142857142857146% 85.71428571428571% no-repeat;
}

.svg-shopping_basket-dims {
	width: 24px;
	height: 24px;
}

.svg-shopping_cart {
	background: url("svg-sprite-action.svg") 64.28571428571429% 85.71428571428571% no-repeat;
}

.svg-shopping_cart-dims {
	width: 24px;
	height: 24px;
}

.svg-speaker_notes {
	background: url("svg-sprite-action.svg") 71.42857142857143% 85.71428571428571% no-repeat;
}

.svg-speaker_notes-dims {
	width: 24px;
	height: 24px;
}

.svg-speaker_notes_off {
	background: url("svg-sprite-action.svg") 78.57142857142857% 85.71428571428571% no-repeat;
}

.svg-speaker_notes_off-dims {
	width: 24px;
	height: 24px;
}

.svg-spellcheck {
	background: url("svg-sprite-action.svg") 85.71428571428571% 85.71428571428571% no-repeat;
}

.svg-spellcheck-dims {
	width: 24px;
	height: 24px;
}

.svg-stars {
	background: url("svg-sprite-action.svg") 92.85714285714286% 0 no-repeat;
}

.svg-stars-dims {
	width: 24px;
	height: 24px;
}

.svg-store {
	background: url("svg-sprite-action.svg") 92.85714285714286% 7.142857142857143% no-repeat;
}

.svg-store-dims {
	width: 24px;
	height: 24px;
}

.svg-subject {
	background: url("svg-sprite-action.svg") 92.85714285714286% 14.285714285714286% no-repeat;
}

.svg-subject-dims {
	width: 24px;
	height: 24px;
}

.svg-supervisor_account {
	background: url("svg-sprite-action.svg") 92.85714285714286% 21.428571428571427% no-repeat;
}

.svg-supervisor_account-dims {
	width: 24px;
	height: 24px;
}

.svg-swap_horiz {
	background: url("svg-sprite-action.svg") 92.85714285714286% 28.571428571428573% no-repeat;
}

.svg-swap_horiz-dims {
	width: 24px;
	height: 24px;
}

.svg-swap_vert {
	background: url("svg-sprite-action.svg") 92.85714285714286% 35.714285714285715% no-repeat;
}

.svg-swap_vert-dims {
	width: 24px;
	height: 24px;
}

.svg-swap_vertical_circle {
	background: url("svg-sprite-action.svg") 92.85714285714286% 42.857142857142854% no-repeat;
}

.svg-swap_vertical_circle-dims {
	width: 24px;
	height: 24px;
}

.svg-system_update_alt {
	background: url("svg-sprite-action.svg") 92.85714285714286% 50% no-repeat;
}

.svg-system_update_alt-dims {
	width: 24px;
	height: 24px;
}

.svg-tab {
	background: url("svg-sprite-action.svg") 92.85714285714286% 57.142857142857146% no-repeat;
}

.svg-tab-dims {
	width: 24px;
	height: 24px;
}

.svg-tab_unselected {
	background: url("svg-sprite-action.svg") 92.85714285714286% 64.28571428571429% no-repeat;
}

.svg-tab_unselected-dims {
	width: 24px;
	height: 24px;
}

.svg-theaters {
	background: url("svg-sprite-action.svg") 92.85714285714286% 71.42857142857143% no-repeat;
}

.svg-theaters-dims {
	width: 24px;
	height: 24px;
}

.svg-thumb_down {
	background: url("svg-sprite-action.svg") 92.85714285714286% 78.57142857142857% no-repeat;
}

.svg-thumb_down-dims {
	width: 24px;
	height: 24px;
}

.svg-thumb_up {
	background: url("svg-sprite-action.svg") 92.85714285714286% 85.71428571428571% no-repeat;
}

.svg-thumb_up-dims {
	width: 24px;
	height: 24px;
}

.svg-thumbs_up_down {
	background: url("svg-sprite-action.svg") 0 92.85714285714286% no-repeat;
}

.svg-thumbs_up_down-dims {
	width: 24px;
	height: 24px;
}

.svg-timeline {
	background: url("svg-sprite-action.svg") 7.142857142857143% 92.85714285714286% no-repeat;
}

.svg-timeline-dims {
	width: 24px;
	height: 24px;
}

.svg-toc {
	background: url("svg-sprite-action.svg") 14.285714285714286% 92.85714285714286% no-repeat;
}

.svg-toc-dims {
	width: 24px;
	height: 24px;
}

.svg-today {
	background: url("svg-sprite-action.svg") 21.428571428571427% 92.85714285714286% no-repeat;
}

.svg-today-dims {
	width: 24px;
	height: 24px;
}

.svg-toll {
	background: url("svg-sprite-action.svg") 28.571428571428573% 92.85714285714286% no-repeat;
}

.svg-toll-dims {
	width: 24px;
	height: 24px;
}

.svg-touch_app {
	background: url("svg-sprite-action.svg") 35.714285714285715% 92.85714285714286% no-repeat;
}

.svg-touch_app-dims {
	width: 24px;
	height: 24px;
}

.svg-track_changes {
	background: url("svg-sprite-action.svg") 42.857142857142854% 92.85714285714286% no-repeat;
}

.svg-track_changes-dims {
	width: 24px;
	height: 24px;
}

.svg-translate {
	background: url("svg-sprite-action.svg") 50% 92.85714285714286% no-repeat;
}

.svg-translate-dims {
	width: 24px;
	height: 24px;
}

.svg-trending_down {
	background: url("svg-sprite-action.svg") 57.142857142857146% 92.85714285714286% no-repeat;
}

.svg-trending_down-dims {
	width: 24px;
	height: 24px;
}

.svg-trending_flat {
	background: url("svg-sprite-action.svg") 64.28571428571429% 92.85714285714286% no-repeat;
}

.svg-trending_flat-dims {
	width: 24px;
	height: 24px;
}

.svg-trending_up {
	background: url("svg-sprite-action.svg") 71.42857142857143% 92.85714285714286% no-repeat;
}

.svg-trending_up-dims {
	width: 24px;
	height: 24px;
}

.svg-turned_in {
	background: url("svg-sprite-action.svg") 78.57142857142857% 92.85714285714286% no-repeat;
}

.svg-turned_in-dims {
	width: 24px;
	height: 24px;
}

.svg-turned_in_not {
	background: url("svg-sprite-action.svg") 85.71428571428571% 92.85714285714286% no-repeat;
}

.svg-turned_in_not-dims {
	width: 24px;
	height: 24px;
}

.svg-update {
	background: url("svg-sprite-action.svg") 92.85714285714286% 92.85714285714286% no-repeat;
}

.svg-update-dims {
	width: 24px;
	height: 24px;
}

.svg-verified_user {
	background: url("svg-sprite-action.svg") 100% 0 no-repeat;
}

.svg-verified_user-dims {
	width: 24px;
	height: 24px;
}

.svg-view_agenda {
	background: url("svg-sprite-action.svg") 100% 7.142857142857143% no-repeat;
}

.svg-view_agenda-dims {
	width: 24px;
	height: 24px;
}

.svg-view_array {
	background: url("svg-sprite-action.svg") 100% 14.285714285714286% no-repeat;
}

.svg-view_array-dims {
	width: 24px;
	height: 24px;
}

.svg-view_carousel {
	background: url("svg-sprite-action.svg") 100% 21.428571428571427% no-repeat;
}

.svg-view_carousel-dims {
	width: 24px;
	height: 24px;
}

.svg-view_column {
	background: url("svg-sprite-action.svg") 100% 28.571428571428573% no-repeat;
}

.svg-view_column-dims {
	width: 24px;
	height: 24px;
}

.svg-view_day {
	background: url("svg-sprite-action.svg") 100% 35.714285714285715% no-repeat;
}

.svg-view_day-dims {
	width: 24px;
	height: 24px;
}

.svg-view_headline {
	background: url("svg-sprite-action.svg") 100% 42.857142857142854% no-repeat;
}

.svg-view_headline-dims {
	width: 24px;
	height: 24px;
}

.svg-view_list {
	background: url("svg-sprite-action.svg") 100% 50% no-repeat;
}

.svg-view_list-dims {
	width: 24px;
	height: 24px;
}

.svg-view_module {
	background: url("svg-sprite-action.svg") 100% 57.142857142857146% no-repeat;
}

.svg-view_module-dims {
	width: 24px;
	height: 24px;
}

.svg-view_quilt {
	background: url("svg-sprite-action.svg") 100% 64.28571428571429% no-repeat;
}

.svg-view_quilt-dims {
	width: 24px;
	height: 24px;
}

.svg-view_stream {
	background: url("svg-sprite-action.svg") 100% 71.42857142857143% no-repeat;
}

.svg-view_stream-dims {
	width: 24px;
	height: 24px;
}

.svg-view_week {
	background: url("svg-sprite-action.svg") 100% 78.57142857142857% no-repeat;
}

.svg-view_week-dims {
	width: 24px;
	height: 24px;
}

.svg-visibility {
	background: url("svg-sprite-action.svg") 100% 85.71428571428571% no-repeat;
}

.svg-visibility-dims {
	width: 24px;
	height: 24px;
}

.svg-visibility_off {
	background: url("svg-sprite-action.svg") 100% 92.85714285714286% no-repeat;
}

.svg-visibility_off-dims {
	width: 24px;
	height: 24px;
}

.svg-watch_later {
	background: url("svg-sprite-action.svg") 0 100% no-repeat;
}

.svg-watch_later-dims {
	width: 24px;
	height: 24px;
}

.svg-work {
	background: url("svg-sprite-action.svg") 7.142857142857143% 100% no-repeat;
}

.svg-work-dims {
	width: 24px;
	height: 24px;
}

.svg-youtube_searched_for {
	background: url("svg-sprite-action.svg") 14.285714285714286% 100% no-repeat;
}

.svg-youtube_searched_for-dims {
	width: 24px;
	height: 24px;
}

.svg-zoom_in {
	background: url("svg-sprite-action.svg") 21.428571428571427% 100% no-repeat;
}

.svg-zoom_in-dims {
	width: 24px;
	height: 24px;
}

.svg-zoom_out {
	background: url("svg-sprite-action.svg") 28.571428571428573% 100% no-repeat;
}

.svg-zoom_out-dims {
	width: 24px;
	height: 24px;
}

