.svg-ac_unit {
	background: url("svg-sprite-places.svg") 25% 0 no-repeat;
}

.svg-ac_unit-dims {
	width: 24px;
	height: 24px;
}

.svg-airport_shuttle {
	background: url("svg-sprite-places.svg") 75% 0 no-repeat;
}

.svg-airport_shuttle-dims {
	width: 24px;
	height: 24px;
}

.svg-all_inclusive {
	background: url("svg-sprite-places.svg") 0 33.333333333333336% no-repeat;
}

.svg-all_inclusive-dims {
	width: 24px;
	height: 24px;
}

.svg-beach_access {
	background: url("svg-sprite-places.svg") 25% 33.333333333333336% no-repeat;
}

.svg-beach_access-dims {
	width: 24px;
	height: 24px;
}

.svg-business_center {
	background: url("svg-sprite-places.svg") 50% 0 no-repeat;
}

.svg-business_center-dims {
	width: 24px;
	height: 24px;
}

.svg-casino {
	background: url("svg-sprite-places.svg") 50% 33.333333333333336% no-repeat;
}

.svg-casino-dims {
	width: 24px;
	height: 24px;
}

.svg-child_care {
	background: url("svg-sprite-places.svg") 0 66.66666666666667% no-repeat;
}

.svg-child_care-dims {
	width: 24px;
	height: 24px;
}

.svg-child_friendly {
	background: url("svg-sprite-places.svg") 25% 66.66666666666667% no-repeat;
}

.svg-child_friendly-dims {
	width: 24px;
	height: 24px;
}

.svg-fitness_center {
	background: url("svg-sprite-places.svg") 50% 66.66666666666667% no-repeat;
}

.svg-fitness_center-dims {
	width: 24px;
	height: 24px;
}

.svg-free_breakfast {
	background: url("svg-sprite-places.svg") 0 0 no-repeat;
}

.svg-free_breakfast-dims {
	width: 24px;
	height: 24px;
}

.svg-golf_course {
	background: url("svg-sprite-places.svg") 75% 33.333333333333336% no-repeat;
}

.svg-golf_course-dims {
	width: 24px;
	height: 24px;
}

.svg-hot_tub {
	background: url("svg-sprite-places.svg") 75% 66.66666666666667% no-repeat;
}

.svg-hot_tub-dims {
	width: 24px;
	height: 24px;
}

.svg-kitchen {
	background: url("svg-sprite-places.svg") 0 100% no-repeat;
}

.svg-kitchen-dims {
	width: 24px;
	height: 24px;
}

.svg-pool {
	background: url("svg-sprite-places.svg") 25% 100% no-repeat;
}

.svg-pool-dims {
	width: 24px;
	height: 24px;
}

.svg-room_service {
	background: url("svg-sprite-places.svg") 50% 100% no-repeat;
}

.svg-room_service-dims {
	width: 24px;
	height: 24px;
}

.svg-rv_hookup {
	background: url("svg-sprite-places.svg") 75% 100% no-repeat;
}

.svg-rv_hookup-dims {
	width: 24px;
	height: 24px;
}

.svg-smoke_free {
	background: url("svg-sprite-places.svg") 100% 0 no-repeat;
}

.svg-smoke_free-dims {
	width: 24px;
	height: 24px;
}

.svg-smoking_rooms {
	background: url("svg-sprite-places.svg") 100% 33.333333333333336% no-repeat;
}

.svg-smoking_rooms-dims {
	width: 24px;
	height: 24px;
}

.svg-spa {
	background: url("svg-sprite-places.svg") 100% 66.66666666666667% no-repeat;
}

.svg-spa-dims {
	width: 24px;
	height: 24px;
}

