.svg-attach_file {
	background: url("svg-sprite-editor.svg") 12.5% 0 no-repeat;
}

.svg-attach_file-dims {
	width: 24px;
	height: 24px;
}

.svg-attach_money {
	background: url("svg-sprite-editor.svg") 50% 71.42857142857143% no-repeat;
}

.svg-attach_money-dims {
	width: 24px;
	height: 24px;
}

.svg-border_all {
	background: url("svg-sprite-editor.svg") 0 14.285714285714286% no-repeat;
}

.svg-border_all-dims {
	width: 24px;
	height: 24px;
}

.svg-border_bottom {
	background: url("svg-sprite-editor.svg") 12.5% 14.285714285714286% no-repeat;
}

.svg-border_bottom-dims {
	width: 24px;
	height: 24px;
}

.svg-border_clear {
	background: url("svg-sprite-editor.svg") 25% 0 no-repeat;
}

.svg-border_clear-dims {
	width: 24px;
	height: 24px;
}

.svg-border_color {
	background: url("svg-sprite-editor.svg") 25% 14.285714285714286% no-repeat;
}

.svg-border_color-dims {
	width: 24px;
	height: 24px;
}

.svg-border_horizontal {
	background: url("svg-sprite-editor.svg") 0 28.571428571428573% no-repeat;
}

.svg-border_horizontal-dims {
	width: 24px;
	height: 24px;
}

.svg-border_inner {
	background: url("svg-sprite-editor.svg") 12.5% 28.571428571428573% no-repeat;
}

.svg-border_inner-dims {
	width: 24px;
	height: 24px;
}

.svg-border_left {
	background: url("svg-sprite-editor.svg") 25% 28.571428571428573% no-repeat;
}

.svg-border_left-dims {
	width: 24px;
	height: 24px;
}

.svg-border_outer {
	background: url("svg-sprite-editor.svg") 37.5% 0 no-repeat;
}

.svg-border_outer-dims {
	width: 24px;
	height: 24px;
}

.svg-border_right {
	background: url("svg-sprite-editor.svg") 37.5% 14.285714285714286% no-repeat;
}

.svg-border_right-dims {
	width: 24px;
	height: 24px;
}

.svg-border_style {
	background: url("svg-sprite-editor.svg") 37.5% 28.571428571428573% no-repeat;
}

.svg-border_style-dims {
	width: 24px;
	height: 24px;
}

.svg-border_top {
	background: url("svg-sprite-editor.svg") 0 42.857142857142854% no-repeat;
}

.svg-border_top-dims {
	width: 24px;
	height: 24px;
}

.svg-border_vertical {
	background: url("svg-sprite-editor.svg") 12.5% 42.857142857142854% no-repeat;
}

.svg-border_vertical-dims {
	width: 24px;
	height: 24px;
}

.svg-bubble_chart {
	background: url("svg-sprite-editor.svg") 25% 42.857142857142854% no-repeat;
}

.svg-bubble_chart-dims {
	width: 24px;
	height: 24px;
}

.svg-drag_handle {
	background: url("svg-sprite-editor.svg") 37.5% 42.857142857142854% no-repeat;
}

.svg-drag_handle-dims {
	width: 24px;
	height: 24px;
}

.svg-format_align_center {
	background: url("svg-sprite-editor.svg") 50% 0 no-repeat;
}

.svg-format_align_center-dims {
	width: 24px;
	height: 24px;
}

.svg-format_align_justify {
	background: url("svg-sprite-editor.svg") 50% 14.285714285714286% no-repeat;
}

.svg-format_align_justify-dims {
	width: 24px;
	height: 24px;
}

.svg-format_align_left {
	background: url("svg-sprite-editor.svg") 50% 28.571428571428573% no-repeat;
}

.svg-format_align_left-dims {
	width: 24px;
	height: 24px;
}

.svg-format_align_right {
	background: url("svg-sprite-editor.svg") 50% 42.857142857142854% no-repeat;
}

.svg-format_align_right-dims {
	width: 24px;
	height: 24px;
}

.svg-format_bold {
	background: url("svg-sprite-editor.svg") 0 57.142857142857146% no-repeat;
}

.svg-format_bold-dims {
	width: 24px;
	height: 24px;
}

.svg-format_clear {
	background: url("svg-sprite-editor.svg") 12.5% 57.142857142857146% no-repeat;
}

.svg-format_clear-dims {
	width: 24px;
	height: 24px;
}

.svg-format_color_fill {
	background: url("svg-sprite-editor.svg") 25% 57.142857142857146% no-repeat;
}

.svg-format_color_fill-dims {
	width: 24px;
	height: 24px;
}

.svg-format_color_reset {
	background: url("svg-sprite-editor.svg") 37.5% 57.142857142857146% no-repeat;
}

.svg-format_color_reset-dims {
	width: 24px;
	height: 24px;
}

.svg-format_color_text {
	background: url("svg-sprite-editor.svg") 50% 57.142857142857146% no-repeat;
}

.svg-format_color_text-dims {
	width: 24px;
	height: 24px;
}

.svg-format_indent_decrease {
	background: url("svg-sprite-editor.svg") 62.5% 0 no-repeat;
}

.svg-format_indent_decrease-dims {
	width: 24px;
	height: 24px;
}

.svg-format_indent_increase {
	background: url("svg-sprite-editor.svg") 62.5% 14.285714285714286% no-repeat;
}

.svg-format_indent_increase-dims {
	width: 24px;
	height: 24px;
}

.svg-format_italic {
	background: url("svg-sprite-editor.svg") 62.5% 28.571428571428573% no-repeat;
}

.svg-format_italic-dims {
	width: 24px;
	height: 24px;
}

.svg-format_line_spacing {
	background: url("svg-sprite-editor.svg") 62.5% 42.857142857142854% no-repeat;
}

.svg-format_line_spacing-dims {
	width: 24px;
	height: 24px;
}

.svg-format_list_bulleted {
	background: url("svg-sprite-editor.svg") 62.5% 57.142857142857146% no-repeat;
}

.svg-format_list_bulleted-dims {
	width: 24px;
	height: 24px;
}

.svg-format_list_numbered {
	background: url("svg-sprite-editor.svg") 0 71.42857142857143% no-repeat;
}

.svg-format_list_numbered-dims {
	width: 24px;
	height: 24px;
}

.svg-format_paint {
	background: url("svg-sprite-editor.svg") 12.5% 71.42857142857143% no-repeat;
}

.svg-format_paint-dims {
	width: 24px;
	height: 24px;
}

.svg-format_quote {
	background: url("svg-sprite-editor.svg") 25% 71.42857142857143% no-repeat;
}

.svg-format_quote-dims {
	width: 24px;
	height: 24px;
}

.svg-format_shapes {
	background: url("svg-sprite-editor.svg") 37.5% 71.42857142857143% no-repeat;
}

.svg-format_shapes-dims {
	width: 24px;
	height: 24px;
}

.svg-format_size {
	background: url("svg-sprite-editor.svg") 0 0 no-repeat;
}

.svg-format_size-dims {
	width: 24px;
	height: 24px;
}

.svg-format_strikethrough {
	background: url("svg-sprite-editor.svg") 62.5% 71.42857142857143% no-repeat;
}

.svg-format_strikethrough-dims {
	width: 24px;
	height: 24px;
}

.svg-format_textdirection_l_to_r {
	background: url("svg-sprite-editor.svg") 75% 0 no-repeat;
}

.svg-format_textdirection_l_to_r-dims {
	width: 24px;
	height: 24px;
}

.svg-format_textdirection_r_to_l {
	background: url("svg-sprite-editor.svg") 75% 14.285714285714286% no-repeat;
}

.svg-format_textdirection_r_to_l-dims {
	width: 24px;
	height: 24px;
}

.svg-format_underlined {
	background: url("svg-sprite-editor.svg") 75% 28.571428571428573% no-repeat;
}

.svg-format_underlined-dims {
	width: 24px;
	height: 24px;
}

.svg-functions {
	background: url("svg-sprite-editor.svg") 75% 42.857142857142854% no-repeat;
}

.svg-functions-dims {
	width: 24px;
	height: 24px;
}

.svg-highlight {
	background: url("svg-sprite-editor.svg") 75% 57.142857142857146% no-repeat;
}

.svg-highlight-dims {
	width: 24px;
	height: 24px;
}

.svg-insert_chart {
	background: url("svg-sprite-editor.svg") 75% 71.42857142857143% no-repeat;
}

.svg-insert_chart-dims {
	width: 24px;
	height: 24px;
}

.svg-insert_comment {
	background: url("svg-sprite-editor.svg") 0 85.71428571428571% no-repeat;
}

.svg-insert_comment-dims {
	width: 24px;
	height: 24px;
}

.svg-insert_drive_file {
	background: url("svg-sprite-editor.svg") 12.5% 85.71428571428571% no-repeat;
}

.svg-insert_drive_file-dims {
	width: 24px;
	height: 24px;
}

.svg-insert_emoticon {
	background: url("svg-sprite-editor.svg") 25% 85.71428571428571% no-repeat;
}

.svg-insert_emoticon-dims {
	width: 24px;
	height: 24px;
}

.svg-insert_invitation {
	background: url("svg-sprite-editor.svg") 37.5% 85.71428571428571% no-repeat;
}

.svg-insert_invitation-dims {
	width: 24px;
	height: 24px;
}

.svg-insert_link {
	background: url("svg-sprite-editor.svg") 50% 85.71428571428571% no-repeat;
}

.svg-insert_link-dims {
	width: 24px;
	height: 24px;
}

.svg-insert_photo {
	background: url("svg-sprite-editor.svg") 62.5% 85.71428571428571% no-repeat;
}

.svg-insert_photo-dims {
	width: 24px;
	height: 24px;
}

.svg-linear_scale {
	background: url("svg-sprite-editor.svg") 75% 85.71428571428571% no-repeat;
}

.svg-linear_scale-dims {
	width: 24px;
	height: 24px;
}

.svg-merge_type {
	background: url("svg-sprite-editor.svg") 87.5% 0 no-repeat;
}

.svg-merge_type-dims {
	width: 24px;
	height: 24px;
}

.svg-mode_comment {
	background: url("svg-sprite-editor.svg") 87.5% 14.285714285714286% no-repeat;
}

.svg-mode_comment-dims {
	width: 24px;
	height: 24px;
}

.svg-mode_edit {
	background: url("svg-sprite-editor.svg") 87.5% 28.571428571428573% no-repeat;
}

.svg-mode_edit-dims {
	width: 24px;
	height: 24px;
}

.svg-monetization_on {
	background: url("svg-sprite-editor.svg") 87.5% 42.857142857142854% no-repeat;
}

.svg-monetization_on-dims {
	width: 24px;
	height: 24px;
}

.svg-money_off {
	background: url("svg-sprite-editor.svg") 87.5% 57.142857142857146% no-repeat;
}

.svg-money_off-dims {
	width: 24px;
	height: 24px;
}

.svg-multiline_chart {
	background: url("svg-sprite-editor.svg") 87.5% 71.42857142857143% no-repeat;
}

.svg-multiline_chart-dims {
	width: 24px;
	height: 24px;
}

.svg-pie_chart {
	background: url("svg-sprite-editor.svg") 87.5% 85.71428571428571% no-repeat;
}

.svg-pie_chart-dims {
	width: 24px;
	height: 24px;
}

.svg-pie_chart_outlined {
	background: url("svg-sprite-editor.svg") 0 100% no-repeat;
}

.svg-pie_chart_outlined-dims {
	width: 24px;
	height: 24px;
}

.svg-publish {
	background: url("svg-sprite-editor.svg") 12.5% 100% no-repeat;
}

.svg-publish-dims {
	width: 24px;
	height: 24px;
}

.svg-short_text {
	background: url("svg-sprite-editor.svg") 25% 100% no-repeat;
}

.svg-short_text-dims {
	width: 24px;
	height: 24px;
}

.svg-show_chart {
	background: url("svg-sprite-editor.svg") 37.5% 100% no-repeat;
}

.svg-show_chart-dims {
	width: 24px;
	height: 24px;
}

.svg-space_bar {
	background: url("svg-sprite-editor.svg") 50% 100% no-repeat;
}

.svg-space_bar-dims {
	width: 24px;
	height: 24px;
}

.svg-strikethrough_s {
	background: url("svg-sprite-editor.svg") 62.5% 100% no-repeat;
}

.svg-strikethrough_s-dims {
	width: 24px;
	height: 24px;
}

.svg-text_fields {
	background: url("svg-sprite-editor.svg") 75% 100% no-repeat;
}

.svg-text_fields-dims {
	width: 24px;
	height: 24px;
}

.svg-title {
	background: url("svg-sprite-editor.svg") 87.5% 100% no-repeat;
}

.svg-title-dims {
	width: 24px;
	height: 24px;
}

.svg-vertical_align_bottom {
	background: url("svg-sprite-editor.svg") 100% 0 no-repeat;
}

.svg-vertical_align_bottom-dims {
	width: 24px;
	height: 24px;
}

.svg-vertical_align_center {
	background: url("svg-sprite-editor.svg") 100% 14.285714285714286% no-repeat;
}

.svg-vertical_align_center-dims {
	width: 24px;
	height: 24px;
}

.svg-vertical_align_top {
	background: url("svg-sprite-editor.svg") 100% 28.571428571428573% no-repeat;
}

.svg-vertical_align_top-dims {
	width: 24px;
	height: 24px;
}

.svg-wrap_text {
	background: url("svg-sprite-editor.svg") 100% 42.857142857142854% no-repeat;
}

.svg-wrap_text-dims {
	width: 24px;
	height: 24px;
}

